@use "govuk-frontend/dist/govuk/base" as govuk;

// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.app-related-items {
  border-top: 10px solid govuk.govuk-colour("blue");
  padding-top: govuk.govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk.govuk-spacing(2);
}
