<main id="content" class="govuk-main-wrapper govuk-main-wrapper--l" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">TERMS AND CONDITIONS</h1>
      <h2 class="govuk-heading-l">
        PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE
      </h2>
      <h3 class="govuk-heading-m">What's in these terms and conditions?</h3>
      <p class="govuk-body">These terms and conditions tell you the rules for using
        <a class="govuk-link" target="_blank"
          href="https://hmcts-access.service.gov.uk/login?client_id=xuiwebapp&redirect_uri=https://manage-case.platform.hmcts.net/oauth2/callback&state=0MCD1z9Wt38-SpaXfhA2QJGPjdPaamCM-Fn8MpGqolI&nonce=0_ZPmm6a9E89V174hyfYbnKbHb7jBL-bTQqOwSyEGH4&response_type=code&scope=profile openid roles manage-user create-user search-user&prompt=">
          <i>MyHMCTS</i>
        </a>.
      </p>
      <p class="govuk-body">Click on the links below to go straight to more information on each area:</p>
      <div class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#how-to-contact-us">Who we
              are and how to contact us.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#accept-these-terms">You
              accept these terms and conditions by using our site.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#controllers-of-personal-data">
              We are independent controllers of the personal data shared.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#other-terms">There are other
              terms that may apply to you.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#change-to-these-terms">We
              may make changes to these terms.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#changes-to-our-site">We may
              make changes to our site.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#suspend-or-withdraw-our-site">We may suspend or
              withdraw our site.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#agreement-to-someone-else">We may transfer this
              agreement to someone else.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#account-details-safe">You
              must keep your account details safe.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#materials-on-our-site">How
              you may use material on our site.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#web-scraping">No text or
              data mining, or web scraping.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#information-on-this-site">Do
              not rely on information on our site.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#websites-we-link-to">We are
              not responsible for websites we link to.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#not-approved-by-us">User-generated content is not
              approved by us.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#report-content">How to
              complain about or report content.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#damage-suffered-by-you">Our
              responsibility for loss or damage suffered by you.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#uploading-content-to-our-site">Uploading content
              to our site.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#use-material-you-upload">Rights you are giving us
              to use material you upload.</a></li>
          <li><a class="govuk-link"
              href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#viruses-you-must-not-introduce-them">We are not
              responsible for viruses and you must not introduce them.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#linking-to-our-site">Rules
              about linking to our site.</a></li>
          <li><a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#dispute-laws">Which
              country's laws apply to any disputes?</a></li>
        </ul>
      </div>
      <h3 class="govuk-heading-m" id="how-to-contact-us">Who we are and how to contact us</h3>
      <p class="govuk-body">
        <a class="govuk-link" target="_blank"
          href="https://hmcts-access.service.gov.uk/login?client_id=xuiwebapp&redirect_uri=https://manage-case.platform.hmcts.net/oauth2/callback&state=0MCD1z9Wt38-SpaXfhA2QJGPjdPaamCM-Fn8MpGqolI&nonce=0_ZPmm6a9E89V174hyfYbnKbHb7jBL-bTQqOwSyEGH4&response_type=code&scope=profile openid roles manage-user create-user search-user&prompt=">
          <i>MyHMCTS</i>
        </a> is a site operated by His Majesty's Courts and Tribunals Service ("We", "Our" or "Us").
      </p>
      <p class="govuk-body">Please <a class="govuk-link" href="mailto:MyHMCTSsupport@justice.gov.uk">contact us</a> if
        you require further information.</p>
      <h3 class="govuk-heading-m" id="accept-these-terms">You accept these terms and conditions by using our site</h3>
      <p class="govuk-body">By using our site, you confirm that you accept these terms and conditions and that you agree
        to comply with them.
      </p>
      <p>If you do not agree to these terms, you must not use our site.</p>
      <p>You are also responsible for ensuring that all persons who access our site through your account, and any
        individual user accounts created by you, have read, understood and will abide by these terms and conditions and
        other applicable terms and conditions such as our
        <a class="govuk-link" target="_blank" href="https://hmcts-access.service.gov.uk/cookies">Cookie Policy</a> and
        <a class="govuk-link" target="_blank" href="https://hmcts-access.service.gov.uk/privacy-policy">Privacy Policy</a>.
      </p>
      <h3 class="govuk-heading-m" id="controllers-of-personal-data">We are independent controllers of the personal data shared
      </h3>
      <p class="govuk-body">You acknowledge that you are the controller of any shared personal data when it is in your
        possession and that HMCTS is the controller of any shared personal data when it is in our possession.
      </p>
      <h3 class="govuk-heading-m" id="other-terms">There are other terms that may apply to you</h3>
      <div class="govuk-body">
        These terms of use refer to the following additional terms, which also apply to your use of our site:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://hmcts-access.service.gov.uk/privacy-policy" target="_blank">
              Our Privacy Policy</a>, which sets out how we may use your personal information.
          </li>
          <li>
            <a class="govuk-link" href="https://hmcts-access.service.gov.uk/cookies" target="_blank">
              Our Cookie Policy</a>, which sets out information about the cookies on our site.
          </li>
        </ul>
      </div>
      <h3 class="govuk-heading-m" id="change-to-these-terms">We may make changes to these terms</h3>
      <p class="govuk-body">Please check these terms and conditions regularly because we may update them at any time
        without notice. You will be considered as agreeing to these changes if you continue to use our site after the
        terms and conditions have changed.</p>
      <h3 class="govuk-heading-m" id="changes-to-our-site">We may make changes to our site</h3>
      <p class="govuk-body">We may update and change our site from time to time to reflect changes to our users' needs.
      </p>
      <h3 class="govuk-heading-m" id="suspend-or-withdraw-our-site">We may suspend or withdraw our site</h3>
      <p class="govuk-body">Our site is made available free of charge.</p>
      <p class="govuk-body">We do not guarantee that our site, or any content on it, will always be available or be
        uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for
        business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>
      <h3 class="govuk-heading-m" id="agreement-to-someone-else">We may transfer this agreement to someone else</h3>
      <p class="govuk-body">We may transfer our rights and obligations under these terms to another organisation.
        We will always tell you in writing if this happens and we will ensure that the transfer will not affect your
        rights under these terms and conditions.</p>
      <h3 class="govuk-heading-m" id="account-details-safe">You must keep your account details safe</h3>
      <p class="govuk-body">If you choose, or you are provided with, a user identification code, password or any other
        piece of information as part of our security procedures,
        you must treat such information as confidential. You must not disclose it to any third party.</p>
      <p class="govuk-body">We have the right to disable any user identification code or password, whether chosen by you
        or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the
        provisions of these terms of use.</p>
      <p class="govuk-body">If you know, or suspect, that anyone other than you knows your user identification code or
        password, you must promptly notify us at
        <a class="govuk-link" href="mailto:MyHMCTSsupport@justice.gov.uk">MyHMCTSsupport@justice.gov.uk</a>.
      </p>
      <h3 class="govuk-heading-m" id="materials-on-our-site">How you may use material on our site</h3>
      <p class="govuk-body">We are the owner or the licensee of all intellectual property rights in our site, and in the
        material published on it.
        Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
      <p class="govuk-body">All content is available under the <a class="govuk-link"
          href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open
          Government Licence v3.0</a>, except where otherwise stated.</p>
      <p class="govuk-body">You must not modify the paper or digital copies of any materials you have printed off or
        downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any
        graphics separately from any accompanying text.</p>
      <p class="govuk-body">Our status (and that of any identified contributors) as the authors of content on our site
        must always be acknowledged
        (except where the content is user-generated).</p>
      <p class="govuk-body">If you print off, copy, download, share or repost any part of our site in breach of these
        terms and conditions, your right to use our site will cease immediately and you must, at our option, return or
        destroy any copies of the materials you have made.</p>
      <h3 class="govuk-heading-m" id="web-scraping">No text or data mining, or web scraping</h3>
      <div class="govuk-body">You shall not conduct, facilitate, authorise or permit any text or data mining or web
        scraping in relation to our site or any services provided via, or in relation to, our site.
        This includes using (or permitting, authorising or attempting the use of):
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4">
          <li>
            Any "robot", "bot", "spider", "scraper" or other automated device, program, tool, algorithm, code, process
            or methodology to access, obtain, copy, monitor or republish any portion of the site or any data, content,
            information or services accessed via the same.
          </li>
          <li>
            Any automated analytical technique aimed at analysing text and data in digital form to generate information
            which includes but is not limited to patterns, trends and correlations.
          </li>
        </ul>
        <p class="govuk-body">These provisions should be treated as an express reservation of our rights in
          this regard, including for the purposes of Article 4(3) of Digital Copyright Directive (<i>(EU) 2019/790</i>).
        </p>
        <p class="govuk-body">These provisions shall not apply insofar as (but only to the extent that) we are unable to
          exclude or limit text or data mining or web scraping activity by these terms and conditions under the laws
          that apply to us.</p>
      </div>
      <h3 class="govuk-heading-m" id="information-on-this-site">Do not rely on information on this site</h3>
      <p class="govuk-body">The content on our site is provided for general information only. It is not intended to
        amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or
        refraining from, any action on the basis of
        the content on our site.</p>
      <p class="govuk-body">Although we make reasonable efforts to update the information on our site, we make no
        representations, warranties or guarantees, whether express or implied, that the content on our site is accurate,
        complete or up to date.</p>
      <h3 class="govuk-heading-m" id="websites-we-link-to">We are not responsible for websites we link to</h3>
      <p class="govuk-body">Where our site contains links to other sites and resources provided by third parties, these
        links are provided for your information only. Such links should not be interpreted as approval by us of those
        linked websites or information you may obtain from them.</p>
      <p class="govuk-body">We have no control over the contents of those sites or resources.</p>
      <h3 class="govuk-heading-m" id="not-approved-by-us">User-generated content is not approved by us</h3>
      <p class="govuk-body">This website may include information and materials uploaded by other users of the site. This
        information and these materials have not been verified or approved by us.
        The views expressed by other users on our site do not represent our views or values.</p>
      <h3 class="govuk-heading-m" id="report-content">How to complain about or report content</h3>
      <p class="govuk-body">If you become aware of any material that could comprise or be connected to child sexual
        abuse or exploitation or that could comprise terrorist
        content or be connected to terrorism, please <a class="govuk-link"
          href="mailto:MyHMCTSsupport@justice.gov.uk">contact us</a> immediately.</p>
      <p class="govuk-body">If you wish to complain about any other content, please <a class="govuk-link"
          href="mailto:MyHMCTSsupport@justice.gov.uk">contact us</a>.</p>
      <h3 class="govuk-heading-m" id="damage-suffered-by-you">Our responsibility for loss or damage suffered by you</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes
          liability for death or personal injury caused by our negligence
          or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.
        </li>
        <li>
          We exclude all implied conditions, warranties, representations or other terms that may apply to our site or
          any content on it.
        </li>
        <li>
          We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach
          of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
          <ul class="govuk-list govuk-list--bullet">
            <li>use of, or inability to use, our site; or</li>
            <li>use of or reliance on any content displayed on our site.</li>
          </ul>
        </li>
        <li>We will not be liable for:
          <ul class="govuk-list govuk-list--bullet">
            <li>loss of profits, sales, business or revenue;</li>
            <li>loss of salary, benefits or other payments;</li>
            <li>business interruption;</li>
            <li>loss of anticipated savings;</li>
            <li>loss of business opportunity, goodwill or reputation;</li>
            <li>loss of data;</li>
            <li>loss of tangible or intangible property including loss, corruption or damage to data or any computer
              system;</li>
            <li>loss of wasted management or office time; or</li>
            <li>any indirect or consequential loss or damage.</li>
          </ul>
        </li>
      </ul>
      <h3 class="govuk-heading-m" id="uploading-content-to-our-site">Uploading content to our site</h3>
      <p class="govuk-body">Whenever you make use of a feature that allows you to upload content to our site, or to make
        contact with other users of our site, you must comply with the standards set out below.</p>
      <p class="govuk-body">You must not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create any content that contains obscene, hateful or other objectionable material, unless such content is
          required for court proceedings and other court-related purposes including, but not limited to, evidence;</li>
        <li>attempt to bypass any security controls;</li>
        <li>make or post indecent remarks, proposals or materials, unless such content is required for court proceedings
          and other court-related purposes including, but not limited to, evidence;</li>
        <li>infringe any intellectual property belonging to others;</li>
        <li>promote illegal content or activity;</li>
        <li>make, post or promote sexually explicit material or child sexual abuse material, unless such content is
          required for court proceedings and other court-related purposes including, but not limited to, evidence;</li>
        <li>advocate, promote, incite any party to commit, or assist any unlawful or criminal act such as (by way of
          example only) copyright infringement or computer misuse;</li>
        <li>make statements which you know or believe, or have reasonable grounds for believing, that others to whom the
          statement is, or is to be, published are likely to understand as a direct or indirect encouragement or other
          inducement to the commission, preparation or instigation of acts of terrorism;</li>
        <li>impersonate any person or misrepresent your identity or affiliation with any person;</li>
        <li>breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
      </ul>
      <p class="govuk-body">You warrant that any such contribution does comply with the above standards, and you will be
        liable to us and indemnify us for any breach of that warranty.
        This means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.</p>
      <p class="govuk-body">Any content you upload to our site will be considered non-confidential and non-proprietary.
        You retain all ownership rights in your content, but you grant us and other users of our site a limited licence
        to use, store and copy that content and to distribute and make it available to third parties. The rights you
        license to us are described in
        <a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#materials-on-our-site">Rights you
          are giving us to use material you upload</a>.</p>
      <p class="govuk-body">We also have the right to disclose your identity to any third party who is claiming that any
        content posted or uploaded by you to our site constitutes a violation of their intellectual property rights
        or of their right to privacy.</p>
      <p class="govuk-body">We have the right to remove any posting you make on our site if, in our opinion, your post
        does not comply with the content standards set out above.</p>
      <p class="govuk-body">If you wish to contact us in relation to content you have uploaded to our site and that we
        have taken down, please <a class="govuk-link" href="mailto:MyHMCTSsupport@justice.gov.uk">contact us</a>.</p>
      <p class="govuk-body">You are solely responsible for securing and backing up your content.</p>
      <h3 class="govuk-heading-m" id="use-material-you-upload">Rights you are giving us to use material you upload</h3>
      <p class="govuk-body">When you upload or post content to our site, you grant us a worldwide, non-exclusive,
        royalty-free, transferable licence to use, reproduce, distribute, prepare derivative works of, display,
        and perform that content in connection with the service provided by the website and across different media
        including to promote the site or the service forever.</p>
      <h3 class="govuk-heading-m" id="viruses-you-must-not-introduce-them">We are not responsible for viruses and you
        must not introduce them</h3>
      <p class="govuk-body">We do not guarantee that our site will be secure or free from bugs or viruses.</p>
      <p class="govuk-body">You are responsible for configuring your information technology, computer programmes and
        platform to access our site. You should use your own virus protection software.</p>
      <p class="govuk-body">You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs
        or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access
        to our site, the server on which our site is stored or any server, computer or database connected to our site.
        You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By
        breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report
        any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by
        disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
      <h3 class="govuk-heading-m" id="linking-to-our-site">Rules about linking to our site</h3>
      <p class="govuk-body">You may link to our home page, provided you do so in a way that is fair and legal and does
        not damage our reputation or take advantage of it.</p>
      <p class="govuk-body">You must not establish a link in such a way as to suggest any form of association, approval
        or endorsement on our part where none exists.</p>
      <p class="govuk-body">You must not establish a link to our site in any website that is not owned by you.</p>
      <p class="govuk-body">Our site must not be framed on any other site, nor may you create a link to any part of our
        site other than the home page.</p>
      <p class="govuk-body">We reserve the right to withdraw linking permission without notice.</p>
      <p class="govuk-body">Your right to link to our home page will cease immediately on the expiration or termination,
        for any reason, of these terms and conditions.</p>
      <p class="govuk-body">The website in which you are linking must comply in all respects with the content standards
        <a class="govuk-link" href="{{TERMS_AND_CONDITIONS_REGISTER_OTHER_ORG_ROUTE}}#uploading-content-to-our-site">set
          out here</a>.</p>
      <p class="govuk-body">If you wish to link to or make any use of content on our site other than that set out above,
        please <a class="govuk-link" href="mailto:MyHMCTSsupport@justice.gov.uk">contact us</a>.</p>
      <h3 class="govuk-heading-m" id="dispute-laws">Which country's laws apply to any disputes?</h3>
      <p class="govuk-body">Please note that these terms of use, their subject matter and their formation, are governed
        by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction.</p>
    </div>
  </div>
</main>
