header {
    padding-bottom: 0;
    position: static;
}

app-phase-banner {
    position: static;
    display: block;
    width: 100%;
}

.hmcts-phase-banner__tag {
    color: #ffffff;
    background-color: #1d70b8;
    font-weight: 700;
}
