<footer class="govuk-footer" role="contentinfo">
  <div class="hmcts-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="hmcts-footer__heading">
              {{help.heading}}
          </h2>
          <ul class="govuk-footer__list">
              <li class="hmcts-footer__list-item">
                Contact your service representative for further help and information
<!--                  Email: <a class="hmcts-footer__link" href="mailto:{{help.email.address}}">{{help.email.text}}</a>-->

          </ul>
<!--          <hr class="govuk-section-break govuk-section-break&#45;&#45;l govuk-section-break&#45;&#45;visible">-->
<!--          <ul class="hmcts-footer__list hmcts-footer__list&#45;&#45;inline">-->
<!--            <li class="hmcts-footer__list-item" *ngFor="let item of navigation.items">-->
<!--              <a class="govuk-footer__link" [routerLink]="item.href" [target]="item.target">{{item.text}}</a>-->
<!--            </li>-->
<!--          </ul>-->
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
    </div>
</footer>

