<div class="hmcts-width-container">
  <main role="main" class="govuk-main-wrapper">
     <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
           <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
           <a [routerLink]="'/users/invite-user'" role="button" draggable="false" class="govuk-button hmcts-page-heading__button">
           Invite user
           </a>
        </div>
     </div>

     <app-govuk-table *ngIf="!(isLoading$ | async) else isLoading"
       [columnConfig]="columnConfig"
       [rows]="tableUsersData$ | async" [firstCellIsHeader]="false"
       [caption]="''">
     </app-govuk-table>

     <ng-template #isLoading>
      <div>Loading...</div>
    </ng-template>
  </main>
</div>

