<div class="hmcts-width-container">
  <main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
     <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
           <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
           <a (click)="inviteNewUser()" role="button" draggable="false" class="govuk-button hmcts-page-heading__button">
           Invite user
           </a>
        </div>
     </div>
     <div class="table-right_margin">
      <xuilib-user-list *ngIf="!(isLoading$ | async) else isLoading" [users]="tableUsersData$ | async"></xuilib-user-list>
     </div>
     <ng-template #isLoading>
      <div>Loading...</div>
    </ng-template>
  </main>
</div>

