.jui-cf {

  &--show-comments {

    .jui-cf__document-pages {

      @include mq($from: desktop) {
        margin-right: 417px;
        margin-left: auto;
      }

    }

  }

}


.jui-cf__toolbar {
  @include govuk-clearfix;
  background-color: govuk-colour("white");
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  height: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  width: 100%;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-top: 0;
    margin-left: -50%;
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 3px 2px #BEBEBE;
      -moz-box-shadow: 0px 0px 3px 2px #BEBEBE;
            box-shadow: 0px 0px 3px 2px #BEBEBE;
  }

  &::before {
    content: "";
    background-color: govuk-colour("white");
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

}


.jui-cf__toolbar-container {
  @include jui-width-container;
  border-left:1px solid govuk-colour("grey-3");
  border-right: 1px solid govuk-colour("grey-3");
  height: 100%;
  position: relative;
  left: 0; top: 0;
  z-index: 1;
}


.jui-cf__toolbar-button {
  @include govuk-font($size: 19);
  background-color: govuk-colour("white");
  border: 0 none;
  color: govuk-colour("black");
  cursor: pointer;
  float: left;
  height: 50px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  &::after {
    background-color: #DEE0E2;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: -1px;
    position: relative;
    z-index: 2;
  }


  &:focus::after {
    content: none;
  }


  &:hover {
    background-color: govuk-colour("grey-4");
  }


  &[aria-pressed=true] {
    background-color: govuk-colour("grey-3");
    cursor: default;
  }


}


.jui-cf__toolbar-button--items {
  background-image: url(#{$jui-assets-path}icon-casefile-items.svg);
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: 15px 50%;
  padding-left: 45px
}


.jui-cf__toolbar-button--comments {
  background-image: url(#{$jui-assets-path}icon-casefile-comments.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 15px 50%;
  padding-left: 45px
}


.jui-cf__toolbar-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}


.jui-cf__window {
  background-color: govuk-colour("grey-4");
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
}


.jui-cf__window-container {
  @include jui-width-container;
  @include govuk-clearfix;
  position: relative;
}


.jui-cf__files {
  box-sizing: border-box;
  margin-bottom: 25px;
  width: 100%;
}


.jui-cf__document-pages {
  max-width: 803px;
  margin-bottom: 30px;

  @include mq($from: desktop) {
    margin-left: 417px;
  }

}


.jui-cf__document {
  position: relative;
}


.jui-cf__document-page {
  @include aspect-ratio(1,1.414); // True A4 aspect ratio
  background: govuk-colour(white);
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 #D1D1D1, 0 0 3px 0 #CCCCCC;
  margin-top: govuk-spacing(4);

  &:first-child {
    margin-top: 0;
  }

  &[data-page]::after {
    @include govuk-font(16);
    color: $govuk-secondary-text-colour;
    content: attr(data-page);
    line-height: 1;
    position: absolute; right: govuk-spacing(4);
    bottom: govuk-spacing(4);
  }

  img {
    max-width: 100%;
  }

}


.jui-cf__document-comments {
  margin-bottom: 30px;

  @include mq($from: desktop) {
    float: right;
    padding-left: 30px;
    width: 386px;
  }

}


.jui-cf__files {

  @include mq($from: desktop) {
    position: sticky;
    position: -webkit-sticky;
    top: 75px; left: 0;
    float: left;
    margin-right: -417px;
    padding-right: 30px;
    box-sizing: border-box;
    max-width: 417px;
    z-index: 2;
  }

}



// Comment

.jui-comment {
  background-color: govuk-colour(white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30), inset 0 -1px 0 0 #DDDDDD;
  padding: 20px 20px 0;

  @include mq($from: desktop) {
    position: relative; top: 578px;
  }

}


.jui-comment__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
}


.jui-comment__author {
  @include govuk-font($size: 19);
  display: block;
  font-weight: bold;
}


.jui-comment__meta {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
}


.jui-comment__footer {
  font-size: .1px;

  .govuk-button {
    margin-right: govuk-spacing(2);
  }

}
