<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Registration details submitted
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">HMCTS will check your application, and we will be in touch if we need further details.</p>
        <p class="govuk-body">We will usually approve the registration within 3 working days.</p>
        <p class="govuk-body">You will get an email from HMCTS asking you to finish creating your account.</p>
        <p class="govuk-body">You will then be set up as your organisation's administrator for MyHMCTS.</p>

        <div class="govuk-button-group">
          <a [href]="'https://www.gov.uk/guidance/register-for-myhmcts-online-case-management-for-legal-professionals'" class="govuk-button">Return to GOV.UK</a>
        </div>
      </div>
    </div>
  </main>
</div>
