# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/reports
/report_json
api/.sessions/

# dependencies
/node_modules
/api/node_modules/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.sessions/

# environments - stop accidental commit of a local.yaml file. See Readme.
/config/local*.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/api/test/pact/logs
/api/test/pact/pacts
config/.env


# System Files
.DS_Store
Thumbs.db
/test/reports/
reports/
.tmp/
.sessions/*
reports_json/
.nyc_output/
cb_reports/
report.json


# Stryker - mutation tests
.stryker-tmp/
stryker.log 