<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"></span>
    You won’t be able to view your transactions until you’ve added one or more payment by account (PBA) numbers.
    </strong>
</div>
<h2 class="govuk-heading-m" id="where-you-can-use-fee-account">Adding a PBA number</h2>
<p class="govuk-body">Contact your service representative to add a PBA number.</p>