<main id="content" class="govuk-main-wrapper govuk-!-margin-top-4" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript:history.back()">Back</a>
      <h1 class="govuk-heading-l">Check your answers before you register</h1>
      <h2 class="govuk-heading-m">Organisation details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organisation name</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.name }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/company-house-details">
              Change<span class="govuk-visually-hidden">Organisation name</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl *ngIf="registrationData.companyHouseNumber" class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Company registration number</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.companyHouseNumber }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:history.back()"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/company-house-details">
              Change<span class="govuk-visually-hidden">Company registration number</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0"
        [ngClass]="{ 'govuk-summary-list--no-border':registrationData.dxNumber}">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organisation address</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.address }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)">
              Change<span class="govuk-visually-hidden">Organisation address</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl *ngIf="registrationData.dxNumber" class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">DX reference</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.dxNumber }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/document-exchange-reference-details">
              Change<span class="govuk-visually-hidden">DX reference</span>
            </a>
          </dd>
        </div>
      </dl>


      <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Service to access</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.services }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/organisation-services-access">
              Change<span class="govuk-visually-hidden">Service to access</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organisation type</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.organisationType }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)" routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/organisation-type">
              Change<span class="govuk-visually-hidden">Organisation type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Regulatory organisation type</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.regulatoryOrgType }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/registered-with-regulator">
              Change<span class="govuk-visually-hidden">Regulatory organisation type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What regulator are you (as an individual) registered with?</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.regulatorRegisteredWith }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/registered-with-regulator">
              Change<span class="govuk-visually-hidden">What regulator are you (as an individual) registered
                with?</span>
            </a>
          </dd>
        </div>
      </dl>
      <br>
      <h2 class="govuk-heading-m">Administration details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">First name</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.contactDetails.firstName }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)" 
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/contact-details">
              Change<span class="govuk-visually-hidden">First name</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last name</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.contactDetails.lastName }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)" 
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/contact-details">
              Change<span class="govuk-visually-hidden">Last name</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">{{ registrationData.contactDetails.workEmailAddress }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)" 
            routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/contact-details">
              Change<span class="govuk-visually-hidden">Email address</span>
            </a>
          </dd>
        </div>
      </dl>
      <br>
      <h2 class="govuk-heading-m">Confirm your registration details</h2>
      <p>Ensure that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your personal and organisation detils are correct</li>
        <li>you have used your registered office address and not a personal or home address</li>
        <li>you are creating an account for your organisation for the first time</li>
        <li>you are authorised to register an account on behalf of your organisation</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Make sure all information is correct as your appliction will be rejected if it contains errors.
        </strong>
      </div>

      <div class="govuk-body govuk-!-margin-top-6">
        <form>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" id="confirm-terms-and-conditions"
              name="confirmTermsAndConditions" formControlName="confirmTermsAndConditions">
            <label class="govuk-label govuk-checkboxes__label" for="confirm-terms-and-conditions">
              You have read and understood the
              <a href="javascript:void(0)">terms and conditions</a>
              and are eligible for an account to manage your organisation and cases
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" id="confirm-code-of-conduct"
              name="confirmCodeOfConduct" formControlName="confirmCodeOfConduct">
            <label class="govuk-label govuk-checkboxes__label" for="confirm-code-of-conduct">
              You have read and understood the
              <a href="javascript:void(0)">MyHMCTS code of conduct</a>
              and are eligible for an account to manage your organisation and cases
            </label>
          </div>
          <div class="govuk-body govuk-!-margin-top-6">
            <button class="govuk-button govuk-buton--primary">Confirm and submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>