nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    # deprecate
    #IDAM_URL: https://idam-api.aat.platform.hmcts.net
    #S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    NODE_TLS_REJECT_UNAUTHORIZED: 0
    S2S_SECRET: ${S2S_SECRET}
    IDAM_SECRET: ${IDAM_SECRET}
    IDAM_API_SERVICE: https://idam-api.aat.platform.hmcts.net
    IDAM_WEB_SERVICE: https://idam-web-public.aat.platform.hmcts.net
    #RD_PROFESSIONAL_API_SERVICE: http://rd-professional-api-aat.service.core-compute-aat.internal
    #SERVICES_TERMS_AND_CONDITIONS_API_SERVICE: http://xui-terms-and-conditions-aat.service.core-compute-aat.internal
    #S2S_SERVICE: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    #FEE_AND_PAY_API: https://payment-api-aat.service.core-compute-aat.internal
    MANAGE_CASE_LINK: https://xui-webapp-aat.service.core-compute-aat.internal/cases
    MANAGE_ORG_LINK: https://xui-mo-webapp-aat.service.core-compute-aat.internal/

    APPINSIGHTS_INSTRUMENTATIONKEY: ${APPINSIGHTS_INSTRUMENTATIONKEY}
    PUI_ENV: preview
    NODE_CONFIG_ENV: prod
    FEATURE_SECURE_COOKIE_ENABLED: false
    FEATURE_TERMS_AND_CONDITIONS_ENABLED: true
    FEATURE_OIDC_ENABLED: true
    REDISCLOUD_URL: redis://ignore:fake-password@${SERVICE_NAME}-redis-master:6379
    DEBUG: xuiNode:*,-xuiNode:auth:s2s
redis:
  enabled: true
