  <!--permissions -->
  <ng-container [formGroup]="inviteUserForm">
  <lib-gov-uk-form-group-wrapper
    [config]="{hint: 'Choose what the user will be able to do. You can change this later.', legend: 'Permissions', key: 'roles'}"
    [formGroupName]="'roles'"
    [error]="errorMessages">

    <div class="govuk-checkboxes">
      <lib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [isChecked]="isPuiCaseManager"
        [config]="{value: 'pui-case-manager',  label: 'Manage Cases', name: 'roles', hint: 'View, create and progress cases.', focusOn: 'roles'}">
      </lib-gov-checkbox>

      <lib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [isChecked]="isPuiUserManager"
        [config]="{value: 'pui-user-manager', label: 'Manage Users', name: 'roles',
        hint: 'Invite users.'}">
      </lib-gov-checkbox>

      <lib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [isChecked]="isPuiOrganisationManager"
        [config]="{value: 'pui-organisation-manager', label: 'Manage Organisation', name: 'roles',
        hint: 'View organisation name and addresses.'}">
      </lib-gov-checkbox>

      <lib-gov-checkbox *ngIf="grantCaseAccessAdmin$ | async"
        [group]="inviteUserForm.controls['roles']"
        [isChecked]="isCaseAccessAdmin"
        [config]="{value: 'pui-caa', label: 'Case Access Administrator', name: 'roles',
        hint: 'Admin Case Access'}">
    </lib-gov-checkbox>
      <!-- <lib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [isChecked]="isPuiFinanceManager"
        [config]="{value: 'pui-finance-manager', label: 'Manage Payments', name: 'roles',
        hint: 'View account balances, available credit and transactions.'}">
      </lib-gov-checkbox> -->
    </div>

  </lib-gov-uk-form-group-wrapper>
</ng-container>
