.govuk-grid-row {
  .govuk-grid-column-one-half {
    background-color: #f3f2f1;
    padding-top: 20px;
    margin-left: 15px;
  }

  #assignee-person {
    width: 500px;
  }

  #case-reference-number {
    width: 356px;
  }
}

.mat-option{
  &:hover{
    background: #2596be;
  }
  &.select-option{
    &:hover{
      background: #1d70b8;
      color: #ffffff;
    }
  }
}

.hide-autocomplete {
  display: none;
}

.mat-optgroup-label {
  font-size: 16px;
  font-weight: bold;
}

mat-optgroup {
  label {
    font-size: 16px;
    font-weight: bold;
  }
}
