.govuk-grid-row {
  .govuk-grid-column-one-half {
    background-color: #f3f2f1;
    padding-top: 20px;
    margin-left: 15px;
  }

  #assignee-person {
    width: 500px;
  }

  #case-reference-number {
    width: 356px;
  }
}
