<app-hmcts-main-wrapper
  [summaryErrors]="summaryErrors"
  [backLink]="backUrl"
  [title]="'Manage user'"
>
  <app-user-personal-details
    [user]="user"
    (personalDetailsChanged)="onPersonalDetailsChange($event)"
  ></app-user-personal-details>
  <app-standard-user-permissions
    [user]="user"
    (selectedPermissionsChanged)="onStandardUserPermissionsChange($event)"
  ></app-standard-user-permissions>
  <app-organisation-access-permissions
    [jurisdictions]="jurisdictions"
    [user]="user"
    [organisationProfileIds]="organisationProfileIds"
    (selectedPermissionsChanged)="
      onSelectedCaseManagamentPermissionsChange($event)
    "
  ></app-organisation-access-permissions>
</app-hmcts-main-wrapper>
