<app-hmcts-main-wrapper
  [summaryErrors]="combinedErrors$ | async"
  [backLink]="backUrl"
  [title]="'Manage user'"
  [showWarningMessage]="showWarningMessage"
>
  <app-user-personal-details
    #userPersonalDetails
    [user]="user"
    (personalDetailsChanged)="onPersonalDetailsChange($event)"
  ></app-user-personal-details>
  <app-standard-user-permissions
    #standardPermission
    [user]="user"
    (selectedPermissionsChanged)="onStandardUserPermissionsChange($event)"
  ></app-standard-user-permissions>
  <app-organisation-access-permissions
    [jurisdictions]="jurisdictions"
    [user]="user"
    [organisationProfileIds]="organisationProfileIds"
    (selectedPermissionsChanged)="
      onSelectedCaseManagamentPermissionsChange($event)
    "
  ></app-organisation-access-permissions>

  <div class="govuk-button-group">
    <button
      type="button"
      data-prevent-double-click="true"
      class="govuk-button"
      data-module="govuk-button"
      aria-label="Submit"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <a class="govuk-link" [routerLink]="backUrl"
      >Cancel
      <span class="govuk-visually-hidden">{{
        "and go back" | rpxTranslate
      }}</span></a
    >
  </div>
</app-hmcts-main-wrapper>
