::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.mat-option {
    padding: 5px;
    margin: 0;
    background: white;
    &:hover{
        background: #2596be;
    }
}

.hide-autocomplete{
    display: none;
}