<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript:history.back()">Back</a>
      <span class="govuk-caption-xl">Register an organisation</span>
      <h1 class="govuk-heading-xl">
        What type of organisation are you registering?
      </h1>
      <hr>
      <div class="govuk-body govuk-!-margin-top-6">
        <form [formGroup]="organisationTypeFormGroup">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Select the type of organisation
                </h1>
              </legend>
              <div class="govuk-hint">
                Select the type of company you are registering. If you are not sure, select 'other'.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item" *ngFor="let organisationType of organisationTypes$ | async">
                  <input class="govuk-radios__input" type="radio"
                    [id]="organisationType.key" name="organisationType" [value]="organisationType.key" formControlName="organisationType"
                    (click)="canShowOtherOrganisationTypes(false)">
                  <label class="govuk-label govuk-radios__label" [for]="organisationType.key">
                    {{organisationType.value_en}}
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio"
                    id="other" name="organisationType" value="other" formControlName="organisationType"
                    data-aria-controls="other-organisation-type-container"
                    (click)="canShowOtherOrganisationTypes(true)">
                  <label class="govuk-label govuk-radios__label" for="other">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional"
                  [ngClass]="{'govuk-radios__conditional--hidden': showOtherOrganisationTypes === false }"
                  id="other-organisation-type-container">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-!-font-weight-bold" for="other-organisation-type">
                        Select another type of organisation
                      </label>
                      <select class="govuk-select govuk-!-width-two-thirds"
                        id="other-organisation-type" name="otherOrganisationType" formControlName="otherOrganisationType">
                        <option [ngValue]="'none'" disabled>--Select a value--</option>
                        <option *ngFor="let otherOrganisationType of otherOrganisationTypes$ | async" [ngValue]="otherOrganisationType.key">
                          {{otherOrganisationType.value_en}}
                        </option>
                      </select>
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-!-font-weight-bold" for="other-organisation-detail">
                        Enter details
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" type="text"
                        id="other-organisation-detail" name="otherOrganisationDetail" formControlName="otherOrganisationDetail">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            <button class="govuk-button govuk-button--primary">Continue</button>
          </div>
          <a class="govuk-link" href="javascript:void(0)">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</main>
