<app-hmcts-main-wrapper [backLink]="'/organisation/update-pba-numbers'" [title]="title">
  @if (errors.length) {
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          @for (error of errors; track error) {
            <li>
              <a routerLink="." [fragment]="'heading'"> {{error.headerError}}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  }
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <!-- Accounts to be added -->
      @if (organisationDetails.pendingAddPaymentAccount.length > 0) {
        <tr class="govuk-table__row">
          <th class="govuk-table__header nowrap">Accounts to be added</th>
          <td class="govuk-table__cell">
            @for (pba of organisationDetails.pendingAddPaymentAccount; track pba) {
              <div>{{pba.pbaNumber}}
                @if (getError(pba)) {
                  <div style="color:red">
                    {{ getError(pba) }}
                  </div>
                }
              </div>
            }
            @if (alreadyUsedError) {
              <div class="already-used-pba">{{alreadyUsedError}}
                <br />You should check that the PBA has been entered correctly.
                If you're still having problems, contact HMCTS.
              </div>
            }
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link fright" routerLink="/organisation/update-pba-numbers"
            id="change-pending-add-pba-numbers__link" aria-label="Change PBA account numbers">Change</a>
          </td>
        </tr>
      }

      <!-- Accounts to be remove -->
      @if (organisationDetails.pendingRemovePaymentAccount.length > 0) {
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Accounts to be removed</th>
          <td class="govuk-table__cell">
            @for (pba of organisationDetails.pendingRemovePaymentAccount; track pba) {
              <div>{{pba.pbaNumber}}
                @if (getError(pba)) {
                  <div style="color:red">
                    {{ getError(pba) }}
                  </div>
                }
              </div>
            }
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link fright" routerLink="/organisation/update-pba-numbers"
            id="change-pending-remove-pba-numbers__link" aria-label="Change PBA account numbers">Change</a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if (organisationDetails.pendingRemovePaymentAccount.length > 0) {
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You won't be able to use removed PBA accounts, unless they are verified again.
      </strong>
    </div>
  }

  <div>
    <button type="submit" class="govuk-button" (click)="onSubmitClicked()">
      Submit PBA accounts
    </button>
  </div>
</app-hmcts-main-wrapper>
