<a [routerLink]="" fragment="{{mainContentId}}" class="govuk-skip-link" (click)="onFocusMainContent()">Skip to main content</a>
<app-loader></app-loader>
<title>{{pageTitle$ | async}}</title>

<app-header
  [navItems]="navItems$ | async"
  [title]="appHeaderTitle$ | async"
  [userNav]="userNav$ | async"
  (navigate)="onNavigate($event)">
</app-header>
<xuilib-service-messages [userRoles]="userRoles" [featureToggleKey]="featureToggleKey" [serviceMessageCookie]="serviceMessageCookie"></xuilib-service-messages>

<div class="hmcts-width-container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<xuilib-session-dialog positionTop="300px" *ngIf="(modalData$ | async).isVisible" (close)="onStaySignedIn()">
  <p class="govuk-body">For your security, we will sign you out of your account in
    <strong>{{(modalData$ | async).countdown}}</strong>
  </p>
  <p>Any information you have not saved will be lost</p>
  <button type="submit" class="govuk-button stay-signed-in-button" (click)="onStaySignedIn()">
    Stay signed in
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" (click)="onNavigate('sign-out')">
    Sign out
  </button>
</xuilib-session-dialog>

<!--this is the part of fee accounts leaving it here so we know it exist-->
<!--<app-hmcts-identity-bar [content]="identityBar$ | async"></app-hmcts-identity-bar>-->
