<title>{{pageTitle$ | async}}</title>

<app-header
  [navItems]="navItems$ | async"
  [title]="appHeaderTitle$ | async"
  [userNav]="userNav$ | async"
  (navigate)="onNavigate($event)">
</app-header>

<div class="hmcts-width-container">
    <router-outlet></router-outlet>
</div>

<button (click)="userDetailsHandler()">Make User Details api call to node layer</button>
<button (click)="simpleJsonReturnHandler()">Make a Simple Api Call and node should return data</button>
<button (click)="healthHandler()">Make a health api call</button>

<app-footer></app-footer>


<!--this is the part of fee accounts leaving it here so we know it exist-->
<!--<app-hmcts-identity-bar [content]="identityBar$ | async"></app-hmcts-identity-bar>-->
