// TODO temporary solution to extend the width of the page until is addressed through govuk-frontend"
body .govuk-width-container,
#content {
  max-width: 1170px;
  padding-right: 30px;
  padding-left: 20px;
}

#content {
  padding-left: 20px;
}

// gov uk frond-end template is not installed on this
.js-hidden {
  display: none;
  visibility: hidden;
}
