$govuk-global-styles: true;

// TODO temporary solution to extend the width of the page until is addressed through govuk-frontend"
body .govuk-width-container,
#content {
  max-width: 1120px;
  padding-right: 30px;
  padding-left: 20px;
  min-width: 900px;
  margin: auto;
}

#content {
  padding-left: 20px;
}

@import "govuk-frontend/govuk/all";
@import "@hmcts/frontend/all";

.govuk-phase-banner .language {
  float: right;
  @include govuk-font($size: 16);
}

// gov uk frond-end template is not installed on this
.js-hidden {
  display: none;
  visibility: hidden;
}
