<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row" [ngClass]="{'govuk-summary-list__row--no-border':hasIndividualRegulator}" 
    *ngIf="regulatorType === regulatorTypeEnum.Individual">
    <dt class="govuk-summary-list__key">Are you (as an individual) registered with a regulator?</dt>
    <dd class="govuk-summary-list__value">
      {{ hasIndividualRegulator ? 'Yes' : 'No'}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="javascript:void(0)"
        [routerLink]="['/', registerOrgService.REGISTER_ORG_NEW_ROUTE, 'individual-registered-with-regulator']">
        Change<span class="govuk-visually-hidden">Individual regulator</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row"  *ngIf="regulators?.length > 0">
    <dt class="govuk-summary-list__key">
      <span *ngIf="regulatorType === regulatorTypeEnum.Individual">
        What regulators are you (as an individual) registered with?
      </span>
      <span *ngIf="regulatorType === regulatorTypeEnum.Organisation">
        Regulatory organisation type
      </span>
    </dt>
    <dd class="govuk-summary-list__value">
      <div *ngFor="let regulator of regulators">
        <ng-container [ngSwitch]="regulator.regulatorType">
          <span *ngSwitchCase="regulatoryTypeEnum.Other">
            {{regulator.regulatorType}}: {{regulator.regulatorName}} ref: {{regulator.organisationRegistrationNumber}}
          </span>
          <span *ngSwitchCase="regulatoryTypeEnum.NotApplicable">
            {{regulator.regulatorType}}
          </span>
          <span *ngSwitchDefault>
            {{regulator.regulatorType}} ref: {{regulator.organisationRegistrationNumber}}
          </span>
          <br />
        </ng-container>
      </div>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a *ngIf="regulatorType === regulatorTypeEnum.Individual"
        class="govuk-link" href="javascript:void(0)"
        [routerLink]="['/', registerOrgNewRoute, 'individual-registered-with-regulator-details']">
        Change<span class="govuk-visually-hidden">What regulators are you (as an individual) registered with?</span>
      </a>
      <a *ngIf="regulatorType === regulatorTypeEnum.Organisation"
        class="govuk-link" href="javascript:void(0)"
        [routerLink]="['/', registerOrgNewRoute, 'regulatory-organisation-type']">
        Change<span class="govuk-visually-hidden">Regulatory organisation type</span>
      </a>
    </dd>
  </div>
</dl>
