<dl class="govuk-summary-list">
  @if (regulatorType === regulatorTypeEnum.Individual) {<div class="govuk-summary-list__row"
    [ngClass]="{'govuk-summary-list__row--no-border':hasIndividualRegulator}">
    <dt class="govuk-summary-list__key">Are you (as an individual) registered with a regulator?</dt>
    <dd class="govuk-summary-list__value">
      {{ hasIndividualRegulator ? 'Yes' : 'No'}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link"
        [routerLink]="['/', registerOrgService.REGISTER_ORG_NEW_ROUTE, 'individual-registered-with-regulator']">
        Change<span class="govuk-visually-hidden">Individual regulator</span>
      </a>
    </dd>
  </div>}
  @if (regulators?.length > 0) {<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      @if (regulatorType === regulatorTypeEnum.Individual) {<span>
        What regulators are you (as an individual) registered with?
      </span>}
      @if (regulatorType === regulatorTypeEnum.Organisation) {<span>
        Regulatory organisation type
      </span>}
    </dt>
    <dd class="govuk-summary-list__value">
      @for(regulator of regulators; track trackByRegulator) {
      <div>
        <ng-container [ngSwitch]="regulator.regulatorType">
          <span *ngSwitchCase="regulatoryTypeEnum.Other">
            {{regulator.regulatorType}}: {{regulator.regulatorName}} ref: {{regulator.organisationRegistrationNumber}}
          </span>
          <span *ngSwitchCase="regulatoryTypeEnum.NotApplicable">
            {{regulator.regulatorType}}
          </span>
          <span *ngSwitchDefault>
            {{regulator.regulatorType}} ref: {{regulator.organisationRegistrationNumber}}
          </span>
          <br />
        </ng-container>
      </div>
    }
    </dd>
    <dd class="govuk-summary-list__actions">
      @if (regulatorType === regulatorTypeEnum.Individual) {<a class="govuk-link"
        [routerLink]="['/', registerOrgNewRoute, 'individual-registered-with-regulator-details']">
        Change<span class="govuk-visually-hidden">What regulators are you (as an individual) registered with?</span>
      </a>}
      @if (regulatorType === regulatorTypeEnum.Organisation) {<a class="govuk-link"
        [routerLink]="['/', registerOrgNewRoute, 'regulatory-organisation-type']">
        Change<span class="govuk-visually-hidden">Regulatory organisation type</span>
      </a>}
    </dd>
  </div>}
</dl>