<div class="hmcts-width-container">
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You've invited
                    </h1>
                    <div class="govuk-panel__body">
                    {{this.userEmail$ | async}}
                    </div>
                </div>
                <h3 class="govuk-heading-m">What happens next</h3>
                <p class="govuk-body">
                Your colleague will receive an email from HM Courts & Tribunals so they can finish setting up their account. It can take up to 1 hour for the account to become active.
                </p>
                <p class="govuk-body">
                Remind them to check their inbox. They’ll need to click the link in the email to create a password and activate their account.
                If your colleague already has an account, they’ll be able to log in with their existing username and password.
                </p>
                <p class="govuk-body">
                    <span text><a [routerLink]="['/users']">Go back to manage users</a></span>
                </p>
            </div>
        </div>
      </main>
</div>
