@use "govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #CASEBAR
   ========================================================================== */

.jui-casebar {
  @include govuk.govuk-clearfix;
  background-color: govuk.govuk-colour("blue");
  color: govuk.govuk-colour("white");
  padding-top: govuk.govuk-spacing(3);
  padding-bottom: govuk.govuk-spacing(3);
}


.jui-casebar__details {
  font-size: .1px; // Fix to remove extra white space when using inline-block
}


.jui-casebar__reference {
  @include govuk.govuk-font(16);
  margin-right: govuk.govuk-spacing(2);
}


.jui-casebar__title {
  @include govuk.govuk-font(16);
}


.jui-casebar__link {
  float: left;
  text-decoration: none;
}


.jui-casebar__link:link,
.jui-casebar__link:visited,
.jui-casebar__link:active {
  color: govuk.govuk-colour("white");

  .jui-casebar__title {
    text-decoration: underline;
  }

  &:focus {
    background-color: govuk.govuk-functional-colour("focus");
    color: govuk.govuk-colour("black");
  }

}