<app-hmcts-main-wrapper
   [title]="'User details'"
   [backLink]="'/users'"
   [actionButtons]="actionButtons"
   *ngIf="!isSuspendView()"
>
  <xuilib-user-details  *ngIf="!(isLoading$ | async) else isLoading" 
    [user]="user" 
    [editPermissionRouterLink]="'editpermission'"
    [isSuspended]="isSuspended(user?.status)"
    [warningTitle]="isSuspended(user?.status)?'This user\'s account has been suspended.': null"
    [suspendHelpLink]="'/get-help'">
  </xuilib-user-details>
  <ng-template #isLoading>
    <div>Loading...</div>
  </ng-template>
</app-hmcts-main-wrapper>

<app-hmcts-main-wrapper
   [title]="'Are you sure you want to suspend this account?'"
   [backAction]="hideSuspendView"
   *ngIf="isSuspendView()"
>
<xuilib-user-details
    [user]="user" 
    [warningTitle]="'If you suspend this user’s account, they’ll no longer be able to access MyHMCTS services. You will need to contact the service desk to reactivate this account.'"
    (suspendUserEvent)="suspendUser($event)"
    [showSuspendUserButton]="true"></xuilib-user-details>
</app-hmcts-main-wrapper>
