<app-hmcts-main-wrapper
   [title]="'User details'"
   [backLink]="'/users'"
>
  <ng-container *ngIf="!(isLoading$ | async) else isLoading">
    <div class="govuk-warning-text" *ngIf="isSuspended(user.status)">
      <span class="govuk-warning-text__icon">!</span>
      <strong class="govuk-warning-text__text">
        This user's account has been suspended.
      </strong>
    </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Name</th>
        <td class="govuk-table__cell">{{user.fullName}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Email address</th>
        <td class="govuk-table__cell">{{user.email}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Permissions</th>
        <td class="govuk-table__cell">
          <div *ngIf="user.manageOrganisations === 'Yes'">Manage Organisations</div>
          <div *ngIf="user.manageUsers === 'Yes'">Manage Users</div>
          <div *ngIf="user.manageCases === 'Yes'">Manage Cases</div>
          <div *ngIf="user.managePayments === 'Yes'">Manage Payments</div>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="govuk-body" *ngIf="isSuspended(user.status)">Contact <a href="mailto:service-desk@hmcts.gov.uk">service-desk@hmcts.gov.uk</a> to reactivate this account.</p>
 
  </ng-container>
  <ng-template #isLoading>
      <div>Loading...</div>
    </ng-template>
</app-hmcts-main-wrapper>