@use "govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #EDITOR
   ========================================================================== */

.jui-editor__toolbar {
  @include govuk.govuk-clearfix;
  margin-bottom: govuk.govuk-spacing(2);
}

.jui-editor__toolbar-button {
  background-color: govuk.govuk-colour("white");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border: 2px solid govuk.govuk-colour("black");
  color: govuk.govuk-colour("black");
  cursor: pointer;
  float: left;
  text-decoration: none;
  height: 40px;
  margin-left: -2px;
  outline: 0;
  vertical-align: top;
  width: 40px;

  &:first-child {
    margin-left: 0;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: 3px solid govuk.govuk-functional-colour("focus");
    position: relative;
    z-index: 2;
  }

}


.jui-editor__toolbar-button--bold {
  background-image: url(#{$jui-assets-path}icon-wysiwyg-bold.svg);
}

.jui-editor__toolbar-button--italic {
  background-image: url(#{$jui-assets-path}icon-wysiwyg-italic.svg);
}

.jui-editor__toolbar-button--underline {
  background-image: url(#{$jui-assets-path}icon-wysiwyg-underline.svg);
  margin-right: govuk.govuk-spacing(2);
}

.jui-editor__toolbar-button--unordered-list {
  background-image: url(#{$jui-assets-path}icon-wysiwyg-unordered-list.svg);
}

.jui-editor__toolbar-button--ordered-list {
  background-image: url(#{$jui-assets-path}icon-wysiwyg-ordered-list.svg);
}


.jui-editor__content {
  @extend .govuk-textarea;
  min-height: 130px;
  outline: none;
  overflow: auto;
  resize: vertical;
}