<main id="content" class="govuk-main-wrapper govuk-main-wrapper--l" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{currentError.header}}</h1>
      <p class="govuk-body" *ngFor="let error of currentError.errors">
        <a *ngIf="error.urlText" routerLink="{{error.url}}" target="{{showErrorLinkWithNewTab(error.newTab)}}">{{error.urlText}} </a>
        {{ error.bodyText }}
      </p>
    </div>
  </div>
</main>