<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{currentError.header}}</h1>
      <p class="govuk-body" *ngFor="let error of currentError.errors">
        <a *ngIf="error.urlText && !error.newTab" routerLink="{{error.url}}">{{error.urlText}}</a> 
        <a *ngIf="error.urlText && error.newTab" routerLink="{{error.url}}" target="_blank">{{error.urlText}}</a> 
        {{ error.bodyText }}
      </p>
    </div>
  </div>
</main>