<h2 class="govuk-heading-l">Administrator access permissions</h2>
<div
  class="govuk-form-group"
  [class.govuk-form-group--error]="errors.basicPermissions.length > 0"
>
  <p
    *ngIf="errors.basicPermissions.length > 0"
    id="basic-permissions-error"
    class="govuk-error-message"
  >
    <span class="govuk-visually-hidden">Error:</span> You must select at least
    one action
  </p>
  <form *ngIf="permissionsForm" [formGroup]="permissionsForm">
    <xuilib-gov-checkbox
      id="checkbox-grant-case-access-admin"
      *ngIf="grantCaseAccessAdmin$ | async"
      [group]="permissionsForm"
      [isChecked]="isCaseAccessAdmin"
      [config]="{
        value: 'isCaseAccessAdmin',
        label: 'Case access administrator',
        name: 'roles',
        hint: 'Manage case access for all users within your organisation.
      You can assign this role to any user in your organisation. However, your service might not currently support this role.
      You will receive further guidance once it becomes available.',
        hiddenLabelContext: 'Permit users to '
      }"
    >
    </xuilib-gov-checkbox>
    <xuilib-gov-checkbox
      [group]="permissionsForm"
      [isChecked]="isPuiOrganisationManager"
      [config]="{
        value: 'isPuiOrganisationManager',
        label: 'Manage organisation',
        name: 'roles',
        hint: 'View the organisation name and address.',
        hiddenLabelContext: 'Permit users to '
      }"
    >
    </xuilib-gov-checkbox>

    <div class="govuk-form-group">
      <xuilib-gov-checkbox
        [group]="permissionsForm"
        [isChecked]="isPuiUserManager"
        [config]="{
          value: 'isPuiUserManager',
          label: 'Manage user',
          name: 'roles',
          hint: 'Invite users.',
          hiddenLabelContext: 'Permit users to '
        }"
      >
      </xuilib-gov-checkbox>

      <xuilib-gov-checkbox
        id="checkbox-grant-finance-manager"
        *ngIf="grantFinanceManager$ | async"
        [group]="permissionsForm"
        [isChecked]="isPuiFinanceManager"
        [config]="{
          value: 'isPuiFinanceManager',
          label: 'Manage fee accounts',
          name: 'roles',
          hint: 'View payments, account balances, available credit and transactions.'
        }"
      >
      </xuilib-gov-checkbox>
    </div>
  </form>
</div>
