
<div
  *ngIf="(user$ | async).user as data"
  class="hmcts-width-container">
   <main role="main" class="govuk-main-wrapper">
      <div class="hmcts-width-container">
         <main role="main" class="govuk-main-wrapper">
            <h1 class="govuk-heading-xl">Profile</h1>
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                  <table class="govuk-table">
                     <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">First name</th>
                           <td class="govuk-table__cell">{{data.firstName}}</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Last name</th>
                           <td class="govuk-table__cell">{{data.lastName}}</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Email</th>
                           <td class="govuk-table__cell">{{data.emailId}}</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row" >
                           <th class="govuk-table__header" scope="row">Permitted to manage</th>
                           <td class="govuk-table__cell">{{userPermissions$ | async}}</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </main>
      </div>
   </main>
</div>

