<ng-container *ngIf="formDataValues">
  <h1 class="govuk-heading-xl">Check your answers before you register</h1>
  <dl class="govuk-check-your-answers  govuk-check-your-answers--short  govuk-!-margin-bottom-6">

    <div app-govuk-dl-list-item
         class="govuk-check-your-answers__contents">
      <ng-container question>Organisation name</ng-container>
      <ng-container answer>
        {{ formDataValues.orgName}}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-name'">Change <span class="govuk-visually-hidden">organisation name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item
         class="govuk-check-your-answers__contents">
      <ng-container question>Organisation address</ng-container>
      <ng-container answer>
        <div> {{ formDataValues.officeAddressOne }} </div>
        <div>{{ formDataValues.officeAddressTwo }} </div>
        <div>{{ formDataValues.townOrCity }} </div>
        <div>{{ formDataValues.county }} </div>
        <div>{{ formDataValues.postcode }} </div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-address'" >Change <span class="govuk-visually-hidden">organistaion address</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.PBAnumber1 && formDataValues.PBAnumber2"
         class="govuk-check-your-answers__contents">
      <ng-container question>PBA number</ng-container>
      <ng-container answer>
        {{ formDataValues.PBAnumber1 }}, 
        {{ formDataValues.PBAnumber2 }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-pba'">Change <span class="govuk-visually-hidden">PBA number</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.DXnumber && formDataValues.DXexchange"
         class="govuk-check-your-answers__contents">
      <ng-container question>DX reference</ng-container>
      <ng-container answer>
        <div>DX number: {{ formDataValues.DXnumber }}</div>
        <div>DX exchange: {{ formDataValues.DXexchange }}</div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-dx'">Change <span class="govuk-visually-hidden">DX reference</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.sraNumber"
         class="govuk-check-your-answers__contents">
      <ng-container question>SRA Number</ng-container>
      <ng-container answer>
        {{ formDataValues.sraNumber }}
      </ng-container>
      <ng-container button>
        <a  [routerLink]="'/register-org/register/sraNumber'">Change <span class="govuk-visually-hidden">email address</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item
         class="govuk-check-your-answers__contents">
      <ng-container question>First name</ng-container>
      <ng-container answer>
        {{ formDataValues.firstName }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/name'">Change <span class="govuk-visually-hidden">name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item
         class="govuk-check-your-answers__contents">
      <ng-container question>Last name</ng-container>
      <ng-container answer>
        {{ formDataValues.lastName }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/name'">Change <span class="govuk-visually-hidden">last name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item
         class="govuk-check-your-answers__contents">
      <ng-container question>Email address</ng-container>
      <ng-container answer>
        {{ formDataValues.emailAddress }}
      </ng-container>
      <ng-container button>
        <a  [routerLink]="'/register-org/register/email-address'">Change <span class="govuk-visually-hidden">email address</span></a>
      </ng-container>
    </div>


  </dl>
  <h2 class="govuk-heading-l">Now submit your registration details</h2>
  <p>You are confirming that the details you've given are accurate.</p>

  <div
    role="button" draggable="false"
    (click)="onSubmitData()"
    class="govuk-button">
    Submit
  </div>

</ng-container>
