<ng-container *ngIf="formDataValues">
  <h1 class="govuk-heading-xl">Check your answers before you register</h1>
  <dl class="govuk-check-your-answers  govuk-check-your-answers--short  govuk-!-margin-bottom-6" [ngClass]="{ 'govuk-form-group--error': (errorMessageDetails | async) !== '' }">

    <div app-govuk-dl-list-item class="govuk-check-your-answers__contents">
      <ng-container question>Organisation name</ng-container>
      <ng-container answer>
        {{ formDataValues.orgName }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-name'">Change <span class="govuk-visually-hidden">organisation name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item class="govuk-check-your-answers__contents">
      <ng-container question>Organisation address</ng-container>
      <ng-container answer>
        <div>{{ formDataValues.officeAddressOne }}</div>
        <div>{{ formDataValues.officeAddressTwo }}</div>
        <div>{{ formDataValues.townOrCity }}</div>
        <div>{{ formDataValues.county }}</div>
        <div>{{ formDataValues.postcode }}</div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-address'">Change <span class="govuk-visually-hidden">organistaion address</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.PBAnumber1 || formDataValues.PBAnumber2" class="govuk-check-your-answers__contents">
      <ng-container question>PBA number</ng-container>
      <ng-container answer>
        <span *ngIf="formDataValues.PBAnumber1">{{ formDataValues.PBAnumber1 }}</span><span *ngIf="formDataValues.PBAnumber1 && formDataValues.PBAnumber2">, </span>
        <span *ngIf="formDataValues.PBAnumber2">{{ formDataValues.PBAnumber2 }}</span>
        <div *ngIf="(errorMessageDetailsCode | async) == '6 : PBA_NUMBER Invalid or already exists'">
          <div class="detailed-cya-registration-message"> {{errorMessageDetails | async}} You should check that the PBA has been entered correctly.
          You should also check if your organisation has already been registered.
          If you're still having problems, contact HMCTS.</div>
        </div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-pba'">Change <span class="govuk-visually-hidden">PBA number</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.DXnumber && formDataValues.DXexchange" class="govuk-check-your-answers__contents">
      <ng-container question>DX reference</ng-container>
      <ng-container answer>
        <div>DX number: {{ formDataValues.DXnumber }}</div>
        <div>DX exchange: {{ formDataValues.DXexchange }}</div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/organisation-dx'">Change <span class="govuk-visually-hidden">DX reference</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item *ngIf="formDataValues.sraNumber" class="govuk-check-your-answers__contents">
      <ng-container question>SRA Number</ng-container>
      <ng-container answer>
        {{ formDataValues.sraNumber }}
         <div *ngIf="(errorMessageDetailsCode | async) == '6 : SRA_ID Invalid or already exists'">
          <div class="detailed-cya-registration-message">
            This SRA has already been used.
            You should check that the SRA has been entered correctly.
            You should also check if your organisation has already been registered.
            If you're still having problems, contact HMCTS.
          </div>
        </div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/sraNumber'">Change <span class="govuk-visually-hidden">email address</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item class="govuk-check-your-answers__contents">
      <ng-container question>First name</ng-container>
      <ng-container answer>
        {{ formDataValues.firstName }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/name'">Change <span class="govuk-visually-hidden">name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item class="govuk-check-your-answers__contents">
      <ng-container question>Last name</ng-container>
      <ng-container answer>
        {{ formDataValues.lastName }}
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/name'">Change <span class="govuk-visually-hidden">last name</span></a>
      </ng-container>
    </div>

    <div app-govuk-dl-list-item class="govuk-check-your-answers__contents">
      <ng-container question>Email address</ng-container>
      <ng-container answer>
        {{ formDataValues.emailAddress }}
          <div *ngIf="(errorMessageDetailsCode | async) == '6 : EMAIL Invalid or already exists'">
            <div class="detailed-cya-registration-message">
              A user with this email address already exists.
              You should check that the email address has been entered correctly.
              You should also check if your organisation has already been registered.
              If you're still having problems, contact HMCTS.
            </div>
          </div>
      </ng-container>
      <ng-container button>
        <a [routerLink]="'/register-org/register/email-address'">Change <span class="govuk-visually-hidden">email address</span></a>
      </ng-container>
    </div>


  </dl>
  <h2 class="govuk-heading-l">Now submit your registration details</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Your personal and organisation details are correct</li>
    <li>You have read and understood the <a routerLink="/terms-and-conditions" rel="noopener noreferrer" target="_blank">terms and conditions</a> and are eligible for an account to manage your organisation and cases</li>
    <li>You are creating an account for your organisation for the first time</li>
    <li>You will be asked to accept the terms and conditions again when logging into a MyHMCTS application for the first time</li>
  </ul>

  <button role="button" draggable="false" (click)="onSubmitData()" class="govuk-button">
    Confirm and submit details
  </button>

</ng-container>
