<main role="main" class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Unassigned cases</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p>
            You can share a case from your unassigned case list with yourself or a colleague. Your colleague must be registered with your organisation and have access to Manage cases.
        </p>
        </div>
        <ccd-case-list
            [columnNames]="columnNames"
            [caseListItems]="caseListItems">
        </ccd-case-list>
    </div>
</main>
