<p>Last updated on {{data && data[0] ? (data[0].effective_date | date:"dd MMM yyyy hh:mm a") : ''}}</p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-check-your-answers govuk-check-your-answers--pba-overview">
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Available credit
                </dt>
                <dd class="govuk-check-your-answers__answer" *ngIf="data && data [0] && data[0]?.credit_limit">
                  &pound; {{data[0].credit_limit}}
                </dd>
                <dd class="govuk-check-your-answers__change">

                </dd>
            </div>
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Balance
                </dt>
                <dd class="govuk-check-your-answers__answer" *ngIf="data && data [0] && data[0]?.available_balance">
                   &pound; {{data[0].available_balance}}
                </dd>
                <dd class="govuk-check-your-answers__change">
                </dd>
            </div>
        </dl>
    </div>
</div>
