<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <ng-container *ngIf="pbaError">
    <div class="govuk-error-summary govuk-!-margin-top-4" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title" #errorSummaryTitleElement>
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/payment-by-account#{{pbaError.fieldId}}">
              {{pbaError.description}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript:history.back()">Back</a>
      <span class="govuk-caption-xl">Register an organisation</span>
      <form [formGroup]="pbaFormGroup">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does your organisation have a payment by account number?
              </h1>
            </legend>
            <hr>
            <div id="pba-hint" class="govuk-body govuk-!-margin-top-4">
              Payment by account (PBA) is a credit service for organisations who frequently bring proceedings to HMCTS.
              It enables monthly invoicing for court fees.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" value="yes"
                  id="pba-yes" name="pba" formControlName="pba">
                <label class="govuk-label govuk-radios__label" for="pba-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" value="no"
                  id="pba-no" name="pba" formControlName="pba">
                <label class="govuk-label govuk-radios__label" for="pba-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button" (click)="onContinue()">
            Continue
          </button>
        </div>
        <a class="govuk-link" href="javascript:void(0)">Cancel</a>
      </form>
    </div>
  </div>
</main>
