<div class="govuk-!-margin-top-8">
  <h1 class="govuk-heading-m">Case management and access</h1>
  <div class="govuk-form-group">
    <form *ngIf="jurisdictionPermissionsForm" [formGroup]="jurisdictionPermissionsForm">
      <xuilib-gov-checkbox [group]="jurisdictionPermissionsForm" [config]="{
            value: 'enableCaseManagement',
            label: 'Manage cases for your organisation',
            name: 'enableCaseManagement',
            hint: 'This provides the user access to submit and manage claims on behalf of your organisation',
            hiddenLabelContext:
              'This provides the user access to submit and manage claims on behalf of your organisation'
          }">
      </xuilib-gov-checkbox>

      <ng-container 
        *ngIf="enableCaseManagement">
        <div
          id="supporting-content"
          class="govuk-!-margin-top-4"
        >
          <app-solicitor-profile-content
            *ngIf="hasSolicitorProfile"
          ></app-solicitor-profile-content>

          <app-ogd-cafcass-cy-profile-content
            *ngIf="hasCafcassCyProfile"
          ></app-ogd-cafcass-cy-profile-content>

          <app-ogd-cafcass-en-profile-content
            *ngIf="hasOgdCafcassEnglishProfile"
          ></app-ogd-cafcass-en-profile-content>

          <app-ogd-cica-profile-content *ngIf="hasOgdCicaProfile">
          </app-ogd-cica-profile-content>

          <app-ogd-dwp-profile-content
            *ngIf="hasOgdDwpProfile"
          ></app-ogd-dwp-profile-content>

          <app-ogd-hmrc-profile-content
            *ngIf="hasOgdHmrcProfile"
          ></app-ogd-hmrc-profile-content>

          <app-ogd-ho-profile-content
            *ngIf="hasOgdHomeOfficeProfile"
          ></app-ogd-ho-profile-content>
        </div>
      </ng-container>
    
      <div class="govuk-accordion" data-module="govuk-accordion" id="org-access-accordion"
        [class.hidden]="!enableCaseManagement" *ngIf="hasSolicitorProfile">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1 govuk-!-padding-0">
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content govuk-!-padding-top-0"
            aria-labelledby="accordion-with-summary-sections-summary-1">

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The below list contains all case types with additional access. You do not need to select additional access
                for case types that you do not use.
              </strong>
            </div>

            <app-jurisdiction-access-options [jurisdictions]="this.jurisdictionsFormArray"></app-jurisdiction-access-options>
          </div>
        </div>
      </div>

      <app-jurisdiction-access-options *ngIf="!hasSolicitorProfile && enableCaseManagement" [jurisdictions]="this.jurisdictionPermissionsForm.controls.jurisdictions"></app-jurisdiction-access-options>
      
    
    </form>
  </div>
</div>