<h2 class="govuk-heading-l">Case management and access</h2>
<div class="govuk-form-group">
  <form
    *ngIf="jurisdictionPermissionsForm"
    [formGroup]="jurisdictionPermissionsForm"
  >
    <xuilib-gov-checkbox
      [group]="jurisdictionPermissionsForm"
      [config]="{
        value: 'enableCaseManagement',
        label: 'Manage cases for your organisation',
        name: 'enableCaseManagement',
        hint: 'This provides the user with access to submit and manage claims.',
        hiddenLabelContext:
          'This provides the user with access to submit and manage claims'
      }"
    >
    </xuilib-gov-checkbox>

    <ng-container>
      <div
        id="supporting-content"
        class="govuk-!-margin-top-4"
      >
        <app-solicitor-profile-content
          *ngIf="hasSolicitorProfile"
        ></app-solicitor-profile-content>

        <app-ogd-cafcass-cy-profile-content
          *ngIf="hasCafcassCyProfile"
        ></app-ogd-cafcass-cy-profile-content>

        <app-ogd-cafcass-en-profile-content
          *ngIf="hasOgdCafcassEnglishProfile"
        ></app-ogd-cafcass-en-profile-content>

        <app-ogd-cica-profile-content *ngIf="hasOgdCicaProfile">
        </app-ogd-cica-profile-content>

        <app-ogd-dwp-profile-content
          *ngIf="hasOgdDwpProfile"
        ></app-ogd-dwp-profile-content>

        <app-ogd-hmrc-profile-content
          *ngIf="hasOgdHmrcProfile"
        ></app-ogd-hmrc-profile-content>

        <app-ogd-ho-profile-content
          *ngIf="hasOgdHomeOfficeProfile"
        ></app-ogd-ho-profile-content>
      </div>
    </ng-container>

    <div
      formArrayName="jurisdictions"
      *ngIf="enableCaseManagement"
      class="govuk-!-margin-left-4"
    >
      <ng-container
        *ngFor="
          let jurisdiction of jurisdictionsFormArray.controls;
          let i = index
        "
      >
        <!-- The jurisdiction name -->
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-label--m">
              {{ jurisdiction.value.jurisdictionName }}
            </h1>
          </legend>
        </fieldset>

        <!-- The access type available -->
        <div class="govuk-form-group" [formGroupName]="i">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div formArrayName="accessTypes">
              <ng-container
                *ngFor="
                  let accesssType of jurisdiction.value.accessTypes;
                  let j = index
                "
              >
                <div class="govuk-checkboxes__item" [formGroupName]="j">
                  <input
                    class="govuk-checkboxes__input"
                    [id]="accesssType.accessTypeId"
                    [value]="accesssType.accessTypeId"
                    [name]="accesssType.description"
                    [checked]="accesssType.enabled"
                    formControlName="enabled"
                    type="checkbox"
                    [attr.aria-describedby]="
                      accesssType.accessTypeId + '-item-hint'
                    "
                    [attr.aria-disabled]="
                      accesssType.mandatory ? 'true' : 'false'
                    "
                    [title]="accesssType.mandatory ? '' : ''"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    [for]="accesssType.accessTypeId"
                  >
                    {{ accesssType.description }}
                  </label>
                  <span
                    [id]="accesssType.accessTypeId + '-item-hint'"
                    class="govuk-hint govuk-checkboxes__hint"
                  >
                    {{ accesssType.hint }}
                    <span
                      *ngIf="accesssType.mandatory"
                      class="govuk-visually-hidden"
                      >This checkbox is disabled because this role is
                      mandatory.</span
                    >
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
