<ng-container *ngIf="errorMessages$ | async as errorMessages">
  <app-fee-account-notification-banner [errorMessages]="errorMessages">
  </app-fee-account-notification-banner>
</ng-container>
<xuilib-hmcts-main-wrapper [title]="'Fee accounts'">
  <app-account-overview-container
  *ngIf="!(loading$ | async) else loading"
  [isAccountAvailableForOrg]="isOrgAccountAvailable$ | async"
  [oneOrMoreAccountInfoMissing]="oneOrMoreAccountMissing$ | async"
  [columnConfig]="columnConfig" [rows]="accounts$ | async" [firstCellIsHeader]="false" [caption]="''"
></app-account-overview-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</xuilib-hmcts-main-wrapper>

