<main id="content" class="govuk-main-wrapper govuk-main-wrapper--l" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ 'Privacy policy' | rpxTranslate }}
      </h1>
      <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
        <div id="nav-links">


          <ul class="govuk-list govuk-list--bullets">

            <li><a routerLink="/privacy-policy" fragment="overview">{{ 'Overview' | rpxTranslate }}</a></li>
            <li><a routerLink="/privacy-policy" fragment="divorce">{{ 'Applying for divorce' | rpxTranslate }}</a></li>
            <li><a routerLink="/privacy-policy" fragment="probate">{{ 'Applying for probate' | rpxTranslate }}</a></li>
            <li><a routerLink="/privacy-policy" fragment="money">{{ 'Using the money claims service' | rpxTranslate }}</a></li>
            <li><a routerLink="/privacy-policy" fragment="remedy">{{ 'Applying for financial remedy' | rpxTranslate }}</a></li>
            <li><a routerLink="/privacy-policy" fragment="appeal">{{ 'Using the Appeal an immigration or asylum decision service' | rpxTranslate }}</a></li>
          </ul>

          <hr>

          <h2 class="govuk-heading-l" id="overview">{{ 'Overview' | rpxTranslate }}</h2>

          <p>{{ 'This privacy policy explains why we collect personal data and what we do with it. It also explains the rights which you and your client have, and how to enforce them.' | rpxTranslate }}</p>
          <h2 class="govuk-heading-m">{{ 'Who manages this service' | rpxTranslate }}</h2>
          <p>This service is managed by HM Courts &amp; Tribunals Service (HMCTS), which is an executive agency of the Ministry of Justice (MoJ).</p>
          <p>{{ 'The MoJ is known as the data controller for data protection purposes. The' | rpxTranslate }} <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">{{ 'MoJ personal information charter' | rpxTranslate }}</a> {{ 'explains how the MoJ processes personal data.' | rpxTranslate }}</p>
          <p>{{ 'As part of the MoJ, HMCTS is responsible for deciding how personal data is used and for protecting the personal data you provide.' | rpxTranslate }}</p>
          <p>{{ 'More information about using this service is in the' | rpxTranslate }} <a routerLink="/terms-and-conditions">{{ 'terms and conditions' | rpxTranslate }}</a>.</p>

          <h2 class="govuk-heading-m">{{ 'Why we collect personal data' | rpxTranslate }}</h2>
          <p>{{ 'We collect personal data to:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'enable us to process your client\'s application' | rpxTranslate }}</li>
            <li>{{ 'meet legal requirements' | rpxTranslate }}</li>
            <li>{{ 'make improvements to this service' | rpxTranslate }}</li>
          </ul>
          <p>{{ 'Our staff use personal data to process your client\'s application. They work in the UK and your data is stored in the UK.' | rpxTranslate }}</p>
          <h2 class="govuk-heading-m">{{ 'Types of personal data we collect' | rpxTranslate }}</h2>
          <p>{{ 'The personal data we collect includes:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your name, address and contact details' | rpxTranslate }}</li>
            <li>{{ 'your email and password (if you create an account)' | rpxTranslate }}</li>
            <li>{{ 'other personal information you provide in your claim or application' | rpxTranslate }}</li>
            <li>{{ 'your client’s personal data - including their name, address and contact details' | rpxTranslate }}</li>
          </ul>
          <p>{{ 'We collect more personal data for some types of application. Find out more about the' | rpxTranslate }} <a routerLink="/privacy-policy" fragment="otherservices">{{ 'personal data that is collected for the type of application you\'re making' | rpxTranslate }}</a>.</p>


          <h2 class="govuk-heading-m">{{ 'Using your data' | rpxTranslate }}</h2>
          <p>{{ 'As part of your application you’ll be asked to use your email address to set up an account. You will be able to use this email and password to sign into other HMCTS services.' | rpxTranslate }}</p>
          <p>{{ 'We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.' | rpxTranslate }}</p>
          <p>{{ 'We' | rpxTranslate }} <a routerLink="/cookies">{{ 'use cookies' | rpxTranslate }}</a> {{ 'to collect data that tells us about how you’re using this service, including:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'if you open an email from us or click on a link in an email' | rpxTranslate }}</li>
            <li>{{ 'your computer, phone or tablet’s IP address' | rpxTranslate }} </li>
            <li>{{ 'the region or town where you are using your computer, phone or tablet' | rpxTranslate }}</li>
            <li>{{ 'the web browser you use' | rpxTranslate }}</li>
          </ul>


          <h2 class="govuk-heading-m">{{ 'Storing your data' | rpxTranslate }}</h2>

          <p>{{ 'When you make an application we store the data you have provided. The amount of time that your data is kept for depends on what you\'re applying for.' | rpxTranslate }}</p>
          <p>{{ 'Find out more about' | rpxTranslate }} <a routerLink="/privacy-policy" fragment="otherservices">{{ 'how long your personal data is stored' | rpxTranslate }}</a> {{ 'for the type of application you\'re making.' | rpxTranslate }} </p>

          <h2 class="govuk-heading-m">{{ 'Sharing your data' | rpxTranslate }}</h2>

          <p>{{ 'While processing your application, another government department, agency or organisation might be involved and we may share your data with them.' | rpxTranslate }}</p>

          <p>{{ 'In some circumstances we may share your data, for example to prevent or detect crime, or to produce anonymised statistics.' | rpxTranslate }}</p>

          <p>{{ 'We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our' | rpxTranslate }} <a routerLink="/terms-and-conditions">{{ 'terms and conditions' | rpxTranslate }}</a>.</p>

          <h2 class="govuk-heading-m">{{ 'Storing and sharing your data internationally' | rpxTranslate }}</h2>

          <p>{{ 'Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'Your rights' | rpxTranslate }}</h2>
          <p>{{ 'You can ask:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'to see the personal data that we hold on you' | rpxTranslate }}</li>
            <li>{{ 'to have the personal data corrected' | rpxTranslate }}</li>
            <li>{{ 'to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)' | rpxTranslate }}</li>
            <li>{{ 'that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)' | rpxTranslate }}</li>
            <li>{{ 'object (in certain circumstances)' | rpxTranslate }}</li>
          </ul>
          <p>{{ 'If you want to see the personal data that we hold on you, you can:' | rpxTranslate }} </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'complete a form to' | rpxTranslate }} <a href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">{{ 'make a subject access request' | rpxTranslate }}</a> {{ '- your request goes to the MoJ as data controller' | rpxTranslate }}</li>
            <li>{{ 'write to us:' | rpxTranslate }} Data Protection Team, Ministry of Justice, 11th Floor, Post Point 11.52, 102 Petty France, London SW1H 9AJ</li>
            <li>{{ 'email us:' | rpxTranslate }} <a href="mailto:data.access@justice.gov.uk">data.access&#64;justice.gov.uk</a></li>
          </ul>

          <p>{{ 'You can ask for more information about:' | rpxTranslate }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'agreements we have on sharing information with other organisations' | rpxTranslate }}</li>
            <li>{{ 'when we are allowed to pass on personal information without telling you' | rpxTranslate }}</li>
            <li>{{ 'our instructions to staff on how to collect, use or delete your personal information' | rpxTranslate }}</li>
            <li>{{ 'how we check that the information we hold is accurate and up-to-date' | rpxTranslate }}</li>
          </ul>

          <p>{{ 'You can contact the MoJ data protection officer by:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'writing to us:' | rpxTranslate }} Data Protection Team, Ministry of Justice, 11th Floor, Post Point 11.52, 102 Petty France, London SW1H 9AJ</li>
            <li>{{ 'emailing:' | rpxTranslate }} <a href="mailto:DPO@justice.gov.uk">DPO&#64;justice.gov.uk</a></li>
          </ul>

          <h2 class="govuk-heading-m">{{ 'How to complain' | rpxTranslate }}</h2>
          <p>{{ 'See our' | rpxTranslate }} <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">{{ 'complaints procedure' | rpxTranslate }}</a> {{ 'if you want to complain about how we\'ve handled your personal data.' | rpxTranslate }}</p>

          <p>{{ 'Write to:' | rpxTranslate }} Data Protection Team, Ministry of Justice, 11th Floor, Post Point 11.52, 102 Petty France, London SW1H 9AJ</p>
          <p>{{ 'Email:' | rpxTranslate }} <a href="mailto:privacy@justice.gov.uk">privacy&#64;justice.gov.uk</a></p>

          <p>{{ 'You can also complain to the' | rpxTranslate }} <a href="https://ico.org.uk/global/contact-us">{{ 'Information Commissioner’s Office' | rpxTranslate }}</a> {{ 'if you’re not satisfied with our response or believe we are not processing your personal data lawfully.' | rpxTranslate }}</p>

          <h2 id="otherservices" class="govuk-heading-m">{{ 'Personal data for different types of application' | rpxTranslate }}</h2>
          <p>{{ 'The types of personal data collected, how long it is stored for, and who it is shared with depends on the type of application you\'re making. You can find out more about:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">

            <li><a routerLink="/privacy-policy" fragment="divorce">{{ 'applying for divorce' | rpxTranslate }}</a> </li>

            <li><a routerLink="/privacy-policy" fragment="probate">{{ 'applying for probate' | rpxTranslate }}</a> </li>

            <li><a routerLink="/privacy-policy" fragment="money">{{ 'using the money claims service' | rpxTranslate }}</a> </li>

            <li><a routerLink="/privacy-policy" fragment="remedy">{{ 'applying for financial remedy' | rpxTranslate }}</a> </li>

            <li><a routerLink="/privacy-policy" fragment="appeal">{{ 'using the Appeal an immigration or asylum decision service' | rpxTranslate }}</a></li>

          </ul>

          <h2 class="govuk-heading-l" id="divorce">{{ 'Applying for divorce' | rpxTranslate }}</h2>
          <p>{{ 'When you apply for divorce on behalf of a client we ask for your:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'name' | rpxTranslate }}</li>
            <li>{{ 'email address' | rpxTranslate }}</li>
            <li>{{ 'phone number' | rpxTranslate }}</li>
            <li>{{ 'role or position' | rpxTranslate }}</li>
            <li>{{ "firm's address" | rpxTranslate }}</li>
          </ul>
        </div>

        <div class="para">
          <p>{{ 'We also ask for your client’s personal data, which includes:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'the applicant\'s current name' | rpxTranslate }}</li>
            <li>{{ 'the respondent\'s current name' | rpxTranslate }}</li>
            <li>{{ 'proof of the applicant name change if they\'ve changed it since they got married' | rpxTranslate }}</li>
            <li>{{ 'a copy of the marriage certificate and the details from it' | rpxTranslate }}</li>
            <li>{{ 'the country in which the applicant and respondent are habitually resident in England or Wales' | rpxTranslate }}</li>
            <li>{{ 'whether the applicant and respondent are habitually resident in England or Wales' | rpxTranslate }}</li>
            <li>{{ 'whether the applicant\'s and respondent\'s domicile is in England or Wales' | rpxTranslate }}</li>
            <li>{{ 'the applicant\'s email address' | rpxTranslate }}</li>
            <li>{{ 'the applicant\'s phone number' | rpxTranslate }}</li>
            <li>{{ 'the applicant\'s address' | rpxTranslate }}</li>
            <li>{{ 'the respondent\'s address' | rpxTranslate }}</li>
            <li>{{ 'the address of the respondent\'s solicitor (if they have one)' | rpxTranslate }}</li>
            <li>{{ 'details around the reason for the divorce' | rpxTranslate }}</li>
            <li>{{ 'details of other court cases the applicant and respondent have been involved in' | rpxTranslate }}</li>
            <li>{{ 'the name and address of the person who allegedly committed adultery with the respondent (this is optional and only asked if adultery is the reason for divorce)' | rpxTranslate }}</li>
          </ul>

          <h2 class="govuk-heading-m">{{ 'Receiving notifications' | rpxTranslate }}</h2>
          <p>{{ 'You need to sign up to receive notifications. This is a legal requirement so that the divorce application can proceed.' | rpxTranslate }}</p>


          <h2 class="govuk-heading-m">{{ 'Storing your data' | rpxTranslate }}</h2>

          <p>{{ 'While you are filling out or responding to a divorce application we will hold your data for up to 6 months. If you don’t complete the application during this time you’ll have to start again.' | rpxTranslate }}</p>

          <p>{{ 'When a divorce is finalised the case is stored for 18 years. After this time, some data (from the decree nisi and the decree absolute) is deleted.' | rpxTranslate }} </p>

          <p>{{ 'The remainder of the case information is stored for an additional 82 years. After a total of 100 years this data will be deleted.' | rpxTranslate }}</p>


          <h2 class="govuk-heading-l" id="probate">{{ 'Applying for probate' | rpxTranslate }}</h2>

          <p>{{ 'When you apply for probate on behalf of a client we ask for:' | rpxTranslate }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your name and any other names you are known as' | rpxTranslate }} </li>
            <li>{{ 'your email or mobile phone number' | rpxTranslate }}</li>
            <li>{{ 'your address' | rpxTranslate }}</li>
            <li>{{ 'the names of any executors of the will' | rpxTranslate }}</li>
            <li>{{ 'contact details for all of the executors who are applying for probate' | rpxTranslate }}</li>
          </ul>

          <h2 class="govuk-heading-m">{{ 'Before you submit your information' | rpxTranslate }}</h2>

          <p>{{ 'Information you enter is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'After you submit your information' | rpxTranslate }}</h2>

          <p>{{ 'Information you enter in the apply for probate service will be stored for 50 years and then deleted. Wills and grants of probate can be accessed as public records. Grants of probate do not include email addresses and telephone numbers, but they do include addresses.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'Sharing your data' | rpxTranslate }}</h2>

          <p>{{ 'If you contact us and ask for help with a service you are using, your personal data may be shared with the Good Things Foundation. This is a company who we have partnered with to offer face to face support.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-l" id="money">{{ 'Using the money claims service' | rpxTranslate }}</h2>

          <h2 class="govuk-heading-m">{{ 'The personal data we need' | rpxTranslate }}</h2>

          <p>{{ 'If you are using the money claims service we may ask you for:' | rpxTranslate }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your name' | rpxTranslate }}</li>
            <li>{{ 'your business or organisation if you are acting on their behalf' | rpxTranslate }}</li>
            <li>{{ 'your date of birth' | rpxTranslate }}</li>
            <li>{{ 'your email or mobile phone number' | rpxTranslate }}</li>
            <li>{{ 'your address' | rpxTranslate }}</li>
            <li>{{ 'the name of the person, business or organisation you are claiming against' | rpxTranslate }}</li>
            <li>{{ 'their email address' | rpxTranslate }}</li>
            <li>{{ 'their address' | rpxTranslate }}</li>
            <li>{{ 'the reasons you are making the claim' | rpxTranslate }}</li>
            <li>{{ 'the timeline of events leading to the dispute' | rpxTranslate }}</li>
            <li>{{ 'a list of any evidence you have to support your claim' | rpxTranslate }}</li>
          </ul>

          <p>{{ 'If you are responding to a money claim we ask you to check the personal information about you that was provided by the claimant which includes your name, your address and contact details.' | rpxTranslate }}</p>

          <p>{{ 'We may ask you to provide:' | rpxTranslate }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your date of birth' | rpxTranslate }}</li>
            <li>{{ 'your business or organisation if you are acting on their behalf' | rpxTranslate }}</li>
            <li>{{ 'your response to the claim made against you' | rpxTranslate }}</li>
            <li>{{ 'the timeline of events leading to the dispute' | rpxTranslate }}</li>
            <li>{{ 'a list of any evidence you have to support your claim' | rpxTranslate }}</li>
          </ul>

          <h2 class="govuk-heading-m">{{ 'Storing your data' | rpxTranslate }}</h2>

          <p>{{ 'When you use this service you’ll be asked to use your email address to set up an account. You can use this email and password to sign into other HMCTS services.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'Before you submit your information' | rpxTranslate }}</h2>

          <p>{{ 'The information you enter in the money claims service is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'After you submit your information' | rpxTranslate }}</h2>

          <p>{{ 'The information you submit for a money claim will be deleted 2 years after the court makes a decision on the outcome of your claim (this is called a judgment).' | rpxTranslate }}</p>
          <p>{{ 'If the court doesn’t make a decision about your claim (for example, you settle the claim out of court and a judgment is no longer required) then the information you provide will be deleted 3 years after the last update made to the claim.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-m">{{ 'Sharing your data' | rpxTranslate }}</h2>

          <p>{{ 'The information you submit will be shared with everyone who is named on the claim. This excludes any payment details that you use to pay court fees.' | rpxTranslate }}</p>
          <p>{{ 'If a judgment is made on a case some information is shared with Registry Trust Limited who provide financial information about court judgments to banks and credit agencies.' | rpxTranslate }}</p>

          <h2 class="govuk-heading-l" id="remedy">{{ 'Applying for financial remedy' | rpxTranslate }}</h2>

          <h2 class="govuk-heading-m">{{ 'The personal data we need' | rpxTranslate }}</h2>

          <p>{{ 'When you use the financial remedy applications service we ask for:' | rpxTranslate }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your name' | rpxTranslate }}</li>
            <li>{{ 'your email address' | rpxTranslate }}</li>
            <li>{{ 'your phone number' | rpxTranslate }}</li>
            <li>{{ 'your role/position' | rpxTranslate }}</li>
            <li>{{ 'your organisation\'s address' | rpxTranslate }}</li>
          </ul>

          <p>{{ 'We also ask for your client’s personal data, which includes:' | rpxTranslate }}</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{ 'your name' | rpxTranslate }}</li>
            <li>{{ 'the applicant’s current name' | rpxTranslate }}</li>
            <li>{{ 'the respondent’s current name' | rpxTranslate }}</li>
            <li>{{ 'a contact address for the respondent or their representative' | rpxTranslate }}</li>
            <li>{{ 'an email address for the respondent or their representative (optional)' | rpxTranslate }}</li>
            <li>{{ 'a telephone number for the respondent or their representative (optional)' | rpxTranslate }}</li>
            <li>{{ 'the applicant’s case number for their divorce' | rpxTranslate }}</li>
            <li>{{ 'details about the stage the divorce has reached (with supporting evidence)' | rpxTranslate }}</li>
            <li>{{ 'detail about the nature of the financial remedy application' | rpxTranslate }}</li>
            <li>{{ 'the address of any property/land included in the application for a property adjustment order (if applicable)' | rpxTranslate }}</li>
            <li>{{ 'the address of any mortgagees for any property/land included in the application for a property adjustment order (if applicable)' | rpxTranslate }}</li>
            <li>{{ 'details of any written agreements in relation to children (if applicable)' | rpxTranslate }}</li>
            <li>{{ 'detail of the type of periodical payment or secured periodical payment order being sought on behalf of the child(ren) (if applicable)' | rpxTranslate }}</li>
           </ul>

           <h2 class="govuk-heading-m">{{ 'Receiving notifications' | rpxTranslate }}</h2>
           <p>{{ 'You need to sign up to receive notifications to use the online Financial Remedy service. This is a legal requirement so that the Financial Remedy application can proceed.' | rpxTranslate }}</p>

           <h2 class="govuk-heading-m">{{ 'Storing your data' | rpxTranslate }}</h2>
           <p>{{ 'When you use this service, you’ll be asked to use your email address to set up an account. You can use this email address and password to sign into other HMCTS services.' | rpxTranslate }}</p>
           <p>{{ 'While you\'re filling out or responding to an application we will hold your data for up to 6 months. If you don\'t complete the application during this time you\'ll have to start again.' | rpxTranslate }}</p>
           <p>{{ 'When the financial remedy application is finalised, the case is stored for 18 years. After this time, the data is deleted.' | rpxTranslate }}</p>

           <h2 class="govuk-heading-m">{{ 'Sharing your data' | rpxTranslate }}</h2>
           <p>{{ 'Any data which is posted in to support a Financial Remedy application will be shared with Exela Technologies Limited. For example, a posted letter will be received by Exela and sent to the court as a scanned image.' | rpxTranslate }}</p>

           <h2 class="govuk-heading-l" id="appeal">{{ 'Using the Appeal an immigration or asylum decision service' | rpxTranslate }}</h2>
           <h2 class="govuk-heading-m">{{ 'The personal data we need' | rpxTranslate }}</h2>
           <p>{{ 'When you use the Appeal an immigration or asylum decision service we ask for:' | rpxTranslate }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ 'your client’s name' | rpxTranslate }}</li>
              <li>{{ 'your client’s date of birth' | rpxTranslate }}</li>
              <li>{{ 'your client’s nationality' | rpxTranslate }}</li>
              <li>{{ 'your client’s email address or mobile phone number' | rpxTranslate }}</li>
              <li>{{ 'your client’s address or place of accommodation' | rpxTranslate }}</li>
              <li>{{ 'your client’s grounds of appeal' | rpxTranslate }}</li>
              <li>{{ 'information from your client’s Home Office Notice of Decision' | rpxTranslate }}</li>
              <li>{{ 'whether a deportation order been made against your client' | rpxTranslate }}</li>
              <li>{{ 'whether your client has appealed against any other UK immigration decisions' | rpxTranslate }}</li>
              <li>{{ 'whether there are any new reasons your client wishes to remain in the UK or any new grounds on which they should be permitted to stay' | rpxTranslate }}</li>
              <li>{{ 'the reasons your client believes the Home Office decision is wrong' | rpxTranslate }}</li>
              <li>{{ 'any evidence to support this claim' | rpxTranslate }}</li>
              <li>{{ 'information on any support your client needs for a hearing, if they attend one' | rpxTranslate }}</li>
              <li>{{ 'information on your client’s availability for a hearing, if they attend one' | rpxTranslate }}</li>
            </ul>
            <p>{{ 'We also ask for your client’s personal data, which includes:' | rpxTranslate }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ 'your name' | rpxTranslate }}</li>
              <li>{{ 'the name and address of your firm' | rpxTranslate }}</li>
            </ul>
            <h2 class="govuk-heading-m">{{ 'Storing and sharing your data' | rpxTranslate }}</h2>
            <p>{{ 'Your data will be shared with the Home Office as the government department that made the decision your client is appealing against. This is so that the department can respond to the appeal.' | rpxTranslate }}</p>
            <h2 class="govuk-heading-m">{{ 'After you submit your information' | rpxTranslate }}</h2>
            <p>{{ 'Most information you submit will be deleted 7 years after the Tribunal has issued its decision or the case is closed. If the appeal is determined, some information will be retained permanently on the Tribunal decision.' | rpxTranslate }}</p>
            <p>{{ 'If you make a complaint against the Tribunal then information about the appeal is stored for 3 years after the last update on the complaint.' | rpxTranslate }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
