<div class="govuk-!-margin-top-6">
  <p class="govuk-body-m govuk-!-margin-bottom-3">
    <b>Standard access - All case types </b>
  </p>
  <p class="govuk-body">
    All users automatically get access to their own cases and those shared with them.
  </p>
  <p class="govuk-body-m govuk-!-margin-bottom-3">
    <b>Additional types of access </b>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-0">
    Some case types have access options in addition to standard access. This could be access to manage all cases in your
    organisation, rather than just their own cases.
  </p>
</div>