<div
  class="govuk-accordion"
  data-module="govuk-accordion"
  id="solicitor-profile-accordion"
>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-with-summary-sections-heading-1"
        >
        </span>
      </h2>
      <div
        class="govuk-accordion__section-summary govuk-body"
        id="accordion-with-summary-sections-summary-1"
      >
        This provides the user access to submit and manage claims as a legal
        representative or the person to process claims on behalf your
        organisation.
      </div>
    </div>
    <div
      id="accordion-with-summary-sections-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-summary-1"
    >
      <p class="govuk-body">
        You will be asked to confirm some additional access levels by selecting
        this option.
      </p>
      <p class="govuk-body">
        All users given access to manage cases for your organisation will have
        access to their own cases and those that are shared with them by others
        in your organisation.
      </p>
      <p class="govuk-body">
        Some services provide additional types of access. Some of the additional
        access options are fixed for some services and cannot be edited.
      </p>
    </div>
  </div>
</div>

<p
  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-margin-top-4"
>
  Services with additional types of access
</p>

<div
  class="govuk-accordion govuk-!-margin-bottom-4"
  data-module="govuk-accordion"
  id="additional-access-accordion"
>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-with-summary-sections-heading-1"
        >
        </span>
      </h2>
      <div
        class="govuk-accordion__section-summary govuk-body"
        id="accordion-with-summary-sections-summary-1"
      >
        Select any additional types of access you want to add for this user.
      </div>
    </div>
    <div
      id="accordion-with-summary-sections-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-summary-1"
    >
      <p class="govuk-body">
        The additional types of access below may contain certain services that
        your organisation does not use. You are not expected to start using
        these services.
      </p>
    </div>
  </div>
</div>
