<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript:history.back()">Back</a>
      <span class="govuk-caption-xl">Register an organisation</span>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Office addresses
            </h1>
          </legend>
          <hr>
        </fieldset>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button" (click)="onContinue()">
            Continue
          </button>
        </div>
        <a class="govuk-link" href="javascript:void(0)" (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </div>
</main>
