@use "govuk-frontend/dist/govuk/base" as govuk;

.govuk-grid-row {
  .govuk-grid-column-one-half {
    background-color: govuk.govuk-colour("black", $variant: "tint-95");
    padding-top: 20px;
    margin-left: 15px;
  }

  #filterContainer {
    margin-bottom: 30px;
  }

  #assignee-person {
    width: 90%;
  }

  #case-reference-number {
    width: 70%;
  }

  .hide-autocomplete {
    display: none;
  }
}

.mat-optgroup {
  .mat-group-header {
    font-size: 16px !important;
    font-weight: bold !important;
  }

  .mat-option {
    &:hover {
      background: govuk.govuk-functional-colour("focus");
    }
    &.select-option {
      &:hover {
        background: govuk.govuk-colour("blue");
        color: govuk.govuk-colour("white");
      }
    }
  }
}
