<app-hmcts-main-wrapper [summaryErrors]="summaryErrors"
                         [backLink]="backUrl"
                         [title]="'Edit user'">

  <h1 class="govuk-heading-l">{{user ? user.firstName : ''}}, {{user ? user.lastName : ''}}</h1>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" >
    <app-invite-permission-form [inviteUserForm]="editUserForm" [errorMessages]="permissionErrors"
    [isPuiCaseManager]="isPuiCaseManager"
    [isPuiUserManager]="isPuiUserManager"
    [isPuiOrganisationManager]="isPuiOrganisationManager"
    [isPuiFinanceManager]="isPuiFinanceManager"
    [isCaseAccessAdmin]="isCaseAccessAdmin">
    </app-invite-permission-form>
    <button type="submit" class="govuk-button">
      Submit
    </button>
  </form>
</app-hmcts-main-wrapper>
