<p class="govuk-body">
    This provides the user access to submit and manage claims as a legal representative or 
    the person to process claims on behalf your organisation. You will be asked to confirm 
    some additional access levels by selecting this option.
</p>
<p class="govuk-body">
    All users given access to manage cases for your organisation will have access to their 
    own cases and those that are shared with them by others in your organisation.
</p>
<p class="govuk-body">
    Some services provide additional types of access. Some of the additional access options 
    are fixed for some services and cannot be edited.
</p>
<p class="govuk-body govuk-!-font-weight-bold">
    Services with additional types of access
</p>
<p class="govuk-body">
    Select any additional types of access you want to add for this user. The additional types 
    of access below may contain certain services that your organisation does not use. You 
    are not expected ot start using these services.
</p>

