<h2 class="govuk-heading-l">User Details</h2>

<!-- only display this when no user is provided-->
<lib-gov-label
  [config]="{
    isPageHeading: true,
    label: 'Add details of the user you want to invite'
  }"
></lib-gov-label>

<form *ngIf="personalDetailForm" [formGroup]="personalDetailForm">
  <div class="govuk-form-group">
    <xuilib-gov-uk-input
      [config]="{
        label: 'First name',
        hint: 'Include all middle names',
        name: 'firstName',
        id: 'firstName',
        type: 'text'
      }"
      [group]="personalDetailForm"
    >
    </xuilib-gov-uk-input>
  </div>

  <div class="govuk-form-group">
    <xuilib-gov-uk-input
      [config]="{
        label: 'Last name',
        name: 'lastName',
        id: 'lastName',
        type: 'text'
      }"
      [group]="personalDetailForm"
    >
    </xuilib-gov-uk-input>
  </div>
  <div class="govuk-form-group">
    <xuilib-gov-uk-input
      [config]="{
        label: 'Email address',
        hint: 'Only use work / business addresses',
        name: 'email',
        id: 'email',
        type: 'email'
      }"
      [group]="personalDetailForm"
    >
    </xuilib-gov-uk-input>
  </div>
</form>
