<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript:void(0)" (click)="onBack()">Back</a>
      <xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
      <span class="govuk-caption-xl">Register an organisation</span>
      <form [formGroup]="servicesFormGroup">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="service-selection-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
              Which services will your organisation need to access?
            </legend>
            <hr class="govuk-!-margin-top-0">
            <div class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-4">
              Please indicate the services you are looking to access
            </div>
            <div class="govuk-hint" id="service-selection-hint">
              You must select at least one option. This will not impact access to any of the services listed as long as you're eligible to do so.
            </div>
            <div [ngClass]="{'govuk-form-group--error': noServicesError}">
              @if (noServicesError) {
                <div class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{noServicesError}}
                </div>
              }
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @for (service of services; track trackByOrgService($index, service)) {
                  <div class="govuk-checkboxes__item">
                    <!-- id uses stable key; data-service-label exposed for readable test selectors -->
                    <input class="govuk-checkboxes__input" [id]="service.key" [attr.data-service-label]="service.value" type="checkbox" [value]="service.key" aria-label="service.key"
                      name="services" formArrayName="services" [checked]="service.selected" (change)="onServicesSelectionChange($event)">
                    <label class="govuk-label govuk-checkboxes__label" [for]="service.key">
                      {{service.value}}
                    </label>
                  </div>
                }
                <div class="govuk-checkboxes__conditional"
                  [ngClass]="{'govuk-checkboxes__conditional--hidden': !showOtherServicesInput}">
                  <div [ngClass]="{'govuk-form-group--error': otherServicesError}">
                    <label class="govuk-label" for="other-services">
                      Please enter the HMCTS service you are wishing to access
                    </label>
                    @if (otherServicesError) {
                      <div class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{otherServicesError}}
                      </div>
                    }
                    <input class="govuk-input" id="other-services" name="other-services" formControlName="otherServices" type="text">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--primary" (click)="onContinue()">Continue</button>
          <a class="govuk-link" href="javascript:void(0)" (click)="onCancel()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</main>
