@use "govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #BUTTON
   Unfortunately GDS don’t have a secondary button available.
   ========================================================================== */

.jui-button--secondary {
  background-color: govuk.govuk-colour("black", $variant: "tint-95");
  box-shadow: 0 2px 0 rgba(govuk.govuk-colour("black", $variant: "tint-25"), .7);
  color: govuk.govuk-colour("black");

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk.govuk-functional-colour("text");
  }

  &:hover,
  &:focus,
  &:link:focus {
    background-color: rgba(govuk.govuk-colour("black", $variant: "tint-80"), .7);
    color: govuk.govuk-functional-colour("text");
  }

}