@use "govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #HEADER
   ========================================================================== */

   .jui-header {
    @include govuk.govuk-clearfix;
    background-color: govuk.govuk-colour("black");
    padding-top: govuk.govuk-spacing(3);
    padding-bottom: govuk.govuk-spacing(3);
  }


  .jui-header__service {
    @include govuk.govuk-font($size: 24, $weight: bold);
    display: block;

    a:link,
    a:active,
    a:visited {
      color: govuk.govuk-colour("white");
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

  }


  @include govuk.govuk-media-query($from: tablet) {

    .jui-header__service {
      float: left;
    }

    .jui-header__account {
      float: right;
    }

  }