<header class="jui-header" role="banner">

  <div class="jui-width-container">

    <div class="jui-header__service">
      <a href="/app/dashboard">Judicial case manager</a>
    </div>

    <div class="jui-header__account">

      <nav class="jui-primary-nav" aria-label="Global navigation">
        <ul class="jui-primary-nav__list">
          <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" href="/app/dashboard">Dashboard</a></li>
          <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" href="/sign-out">Sign out</a></li>
        </ul>
      </nav>

    </div>

  </div>

</header>