<lib-gov-uk-main-wrapper [summaryErrors]="formValidationErrorsArray$ | async"
                         [backLink]="'/users'"
                         [title]="'Invite user'">

  <p class="govuk-body">When you send this invitation, the user will receive an email from HM Courts and
     Tribunals Registrations so they can finish setting up their account.</p>

  <app-invite-user-form [errorMessages]="formValidationErrors$ | async"
    [inviteUserForm]="inviteUserForm"
    (submitForm)="onSubmit()"
  ></app-invite-user-form>

</lib-gov-uk-main-wrapper>
