<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-check-your-answers govuk-check-your-answers--pba-overview ">
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Available credit
                </dt>
                <dd class="govuk-check-your-answers__answer">
                    {{summary.availableCredit}}
                </dd>
                <dd class="govuk-check-your-answers__change">

                </dd>
            </div>
            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">
                    Balance
                </dt>
                <dd class="govuk-check-your-answers__answer">
                    {{summary.balance}}
                </dd>
                <dd class="govuk-check-your-answers__change">
                </dd>
            </div>
        </dl>
    </div>
</div>
