<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">We're not able to apply all of the permissions you selected for this user.</p>
      <p class="govuk-body">Check the <a [routerLink]="[getEditUserPermissionsLink(userId)]">user's permissions</a>.</p>
      <p class="govuk-body">Contact us if the problem continues.</p>
    </div>
  </div>
</main>
