/* ==========================================================================
   #PANEL
   ========================================================================== */

.jui-panel {
  @include govuk-font($size: 19);
  border: 5px solid transparent;
  box-sizing: border-box;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(6) - $govuk-border-width;
  position: relative;
}


.jui-panel__title {
  @include govuk-font($size: 36, $weight: bold);
  margin-bottom: govuk-spacing(3);
}


.jui-panel__body {
  @include govuk-font($size: 24);
}


.jui-panel__details {
  margin: 0;
  padding: 0;

  dt {
    font-weight: bold;
    margin-bottom: govuk-spacing(1);
  }

  dd {
    @include govuk-font($size: 16);
    margin-left: 0;
    margin-bottom: govuk-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }

  }

}


/* Style variants
   ========================================================================== */

.jui-panel--information {
  border-color: govuk-colour("blue");
 }


.jui-panel--confirmation {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
  text-align: center;
}