<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1" #mainContent>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button class="govuk-js-back-link xui-back-button-margin" (click)="onBack()">Back</button>
      <xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
      <span class="govuk-caption-xl">Register an organisation</span>
      <h1 class="govuk-heading-xl">
        What's the DX reference for this office?
      </h1>
      <hr>
        <div class="govuk-body govuk-!-margin-top-4">
          <form [formGroup]="dxFormGroup">
            <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': dxNumberError}">
              <label class="govuk-label govuk-!-font-weight-bold" for="dx-number" id="dx-number-label">
                DX number (Optional)
              </label>
              <div id="dx-number-hint" class="govuk-hint">
                For example: 931NR. You do not need to include the term 'DX'
              </div>
              @if (dxNumberError) {
                <p class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ dxNumberError.message }}
                </p>
              }
              <input class="govuk-input" type="text"
                id="dx-number" name="dxNumber" formControlName="dxNumber"
                aria-describedby="dx-number-hint">
            </div>
            <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': dxExchangeError}">
              <label class="govuk-label govuk-!-font-weight-bold" for="dx-exchange" id="dx-exchange-label">
                DX exchange (Optional)
              </label>
              <div id="dx-exchange-hint" class="govuk-hint">
                For example: HAYES (MIDDLESEX)
              </div>
              @if (dxExchangeError) {
                <p class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ dxExchangeError.message }}
                </p>
              }
              <input class="govuk-input" type="text"
                id="dx-exchange" name="dxExchange" formControlName="dxExchange"
                aria-describedby="dx-exchange-hint">
            </div>
            <div class="govuk-button-group">
              <button class="govuk-button govuk-button--primary" (click)="onContinue()">Continue</button>
              <button class="govuk-js-link" (click)="onCancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
