<div class="page">
  @if (backLink) {
    <a [href]="backLink" class="govuk-back-link">{{ 'Back' | rpxTranslate }}</a>
  }
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <span class="govuk-caption-xl">{{ fnTitle | rpxTranslate }}</span>
      <h1 class="govuk-heading-xl">{{ 'Check and confirm your selection' | rpxTranslate }}</h1>
  <xuilib-share-case-confirm
    [shareCases$]="shareCases$"
    [changeLink]="changeLink"
    [completeLink]="completeLink">
  </xuilib-share-case-confirm>
    </div>
  </div>
</div>
