
<form [formGroup]="inviteUserForm" (ngSubmit)="onSubmit()" >

  <xuilib-gov-uk-input
    [config]="{label: 'First name', hint: 'Include all middle names.', name: 'firstName', id: 'firstName', type: 'text', classes: 'testClass'}"
    [errorMessage]="isInvalid.firstName"
    [group]="inviteUserForm">
  </xuilib-gov-uk-input>

  <xuilib-gov-uk-input
    [config]="{label: 'Last name', name: 'lastName', id: 'lastName', type: 'text'}"
    [errorMessage]="isInvalid.lastName"
    [group]="inviteUserForm">
  </xuilib-gov-uk-input>

  <xuilib-gov-uk-input
    [config]="{label: 'Email address', name: 'email', id: 'email', type: 'email'}"
    [errorMessage]="isInvalid.email"
    [group]="inviteUserForm">
  </xuilib-gov-uk-input>

  <!--permissions -->
  <xuilib-gov-uk-form-group-wrapper
    [error]="isInvalid.roles"
    [config]="{hint: 'Choose what the user will be able to do. You can change this later.', legend: 'Permissions', key: 'roles'}"
    [formGroupName]="'roles'">

    <div class="govuk-checkboxes">
      <xuilib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [config]="{value: 'pui-case-manager',  label: 'Manage Cases', name: 'roles', hint: 'View, create and progress cases.', focusOn: 'roles'}">
      </xuilib-gov-checkbox>

      <xuilib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [config]="{value: 'pui-user-manager', label: 'Manage Users', name: 'roles',
        hint: 'Invite users.'}">
      </xuilib-gov-checkbox>

      <xuilib-gov-checkbox
        [group]="inviteUserForm.controls['roles']"
        [config]="{value: 'pui-organisation-manager', label: 'Manage Organisation', name: 'roles',
        hint: 'View organisation name and addresses.'}">
      </xuilib-gov-checkbox>
    </div>

  </xuilib-gov-uk-form-group-wrapper>

  <button type="submit" class="govuk-button">
    Send invitation
  </button>
</form>
