<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button class="govuk-js-back-link" (click)="onBack()">Back</button>
      <xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
      <span class="govuk-caption-xl">Register an organisation</span>
      <form [formGroup]="registeredWithRegulatorFormGroup">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="registered-regulators">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-8">
              Are you (as an individual) registered with a regulator?
            </legend>
            <hr class="govuk-!-margin-top-0">
            <div id="registered-regulators" class=" govuk-!-margin-top-4" [ngClass]="{'govuk-form-group--error': validationErrors.length}">
              @if (validationErrors.length) {
                <div class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Please select an option
                </div>
              }
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" value="yes"
                    id="registered-with-regulator-yes" name="registeredWithRegulator" formControlName="registeredWithRegulator">
                  <label class="govuk-label govuk-radios__label" for="registered-with-regulator-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" value="no"
                    id="registered-with-regulator-no" name="registeredWithRegulator" formControlName="registeredWithRegulator">
                  <label class="govuk-label govuk-radios__label" for="registered-with-regulator-no">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button" (click)="onContinue()">
            Continue
          </button>
          <button class="govuk-js-link" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</main>
