<app-hmcts-main-wrapper [title]="'Organisation'">
  <app-prd-pba-success [response]="organisationDetails.response"></app-prd-pba-success>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">{{organisationDetails.name}}</dd>
    </div>
  </dl>

  <!-- Contact Information -->
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address</dt>
      <dd class="govuk-summary-list__value">
        <div>{{organisationContactInformation.addressLine1}}</div>
        <div *ngIf="organisationContactInformation.addressLine2">{{organisationContactInformation.addressLine2}}</div>
        <div>{{organisationContactInformation.townCity}}</div>
        <div>{{organisationContactInformation.county}}</div>
        <div *ngIf="organisationContactInformation.postCode">{{organisationContactInformation.postCode}}</div>
      </dd>
    </div>
  </dl>

  <!-- DX reference -->
  <dl class="govuk-summary-list" *ngIf="organisationDxAddress?.dxNumber">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">DX reference</dt>
      <dd class="govuk-summary-list__value">
        {{organisationDxAddress.dxNumber}}
        <span *ngIf="organisationDxAddress.dxExchange">, {{organisationDxAddress.dxExchange}}</span>
      </dd>
    </div>
  </dl>

  <dl *ngIf="registrationData.organisationType && registrationData.organisationType !== 'other'"
        class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organisation type</dt>
          <dd class="govuk-summary-list__value">{{registrationData.organisationType}}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="javascript:void(0)"
              routerLink="/{{registerOrgService.REGISTER_ORG_NEW_ROUTE}}/organisation-type">
              Change<span class="govuk-visually-hidden">Organisation type</span>
            </a>
          </dd>
        </div>
      </dl>

  <table class="govuk-table">
    <tbody class="govuk-table__body">

    <!-- Organisation type -->
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Organisation type</th>
        <td class="govuk-table__cell">

        </td>
    </tr>
    <!-- PBA Numbers -->
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">PBA numbers</th>
      <td class="govuk-table__cell">
        <div style = "float:left">
          <div *ngFor="let pba of organisationPaymentAccount">{{pba.pbaNumber}}</div>
            <br>
          <div *ngFor="let pendingPBA of organisationPendingPaymentAccount">{{pendingPBA}}  (Pending approval)</div>
        </div>
        <a class="govuk-link fright"
           style = "float:right"
        routerLink="/organisation/update-pba-numbers"
        *ngIf="showChangePbaNumberLink" id="change-pba-account-numbers__link" aria-label="Change PBA account numbers">Change</a>
      </td>
    </tr>
    <!-- !PBA Numbers -->
    <tr class="govuk-table__row" *ngIf="!organisationPaymentAccount">
      <th class="govuk-table__header" scope="row">PBA number</th>
      <td class="govuk-table__cell">
        <div><p>Until you've added one or more payment by account (PBA) numbers,
                you won't be able to make payments when creating a case or view your transactions.</p>
        </div>
      </td>
    </tr>
    <tr class="govuk-table__row" *ngIf="organisationDetails.superUser">
      <th class="govuk-table__header" scope="row">Administrator</th>
      <td class="govuk-table__cell">
        <div>{{organisationDetails.superUser.firstName}} {{organisationDetails.superUser.lastName}}</div>
        <div class="govuk-caption-m govuk-!-font-size-16">{{organisationDetails.superUser.email}}</div>
      </td>
    </tr>
    <tr class="govuk-table__row" *ngIf="organisationDetails.sraId">
      <th class="govuk-table__header" scope="row">SRA ID</th>
      <td class="govuk-table__cell">
        <div>{{organisationDetails.sraId}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</app-hmcts-main-wrapper>
