<lib-gov-uk-main-wrapper [title]="'Organisation'">
  <table class="govuk-table" *ngFor="let data of orgData">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Name</th>
      <td class="govuk-table__cell">{{data}}</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Address</th>
      <td class="govuk-table__cell">
        {{ data | json }}
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
    </tbody>
  </table>
</lib-gov-uk-main-wrapper>

