<div class="hmcts-width-container">
   <main role="main" class="govuk-main-wrapper">
      <div class="hmcts-width-container">
         <main role="main" class="govuk-main-wrapper">
            <h1 class="govuk-heading-xl">Profile</h1>
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                  <table class="govuk-table">
                     <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">First name</th>
                           <td class="govuk-table__cell">Adam</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Last name</th>
                           <td class="govuk-table__cell">Silver</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Email</th>
                           <td class="govuk-table__cell">adam.silver@wedlakebell.com</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Password</th>
                           <td class="govuk-table__cell">********</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                           <th class="govuk-table__header" scope="row">Permitted to manage</th>
                           <td class="govuk-table__cell">cases (all), organisation, users, payments</td>
                           <td class="govuk-table__cell"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </main>
      </div>
   </main>
</div>