.cases-content {
  position: relative;
}

.cases-content--loading {
  pointer-events: none;
}

.cases-loading-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002;
}

.cases-loading-overlay img {
  height: 100px;
  padding-top: calc(50vh - 50px);
  width: 100px;
}
