/* ==========================================================================
   #CASE ACTIONS
   ========================================================================== */

.jui-case-actions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-case-actions__item {
  float: left;
  margin-right: govuk-spacing(2);

  &:last-child {
    margin-right: 0;
  }

}


.jui-case-actions__link {
  background-color: govuk-colour("grey-4");
  display: block;
  padding: govuk-spacing(1) govuk-spacing(2);
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: $govuk-text-colour;
  }

  &:hover {
    background-color: govuk-colour("grey-3");
  }

}