<h1 class="govuk-heading-l">Sign in</h1>
<form  #f="ngForm" (ngSubmit)="onSignIn(f.value)">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-width-one-third" for="email-address">Email address</label>
    <input [ngModel] class="govuk-input govuk-!-width-one-third" id="email-address" name="email-address" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-width-one-third" for="password">Password</label>
    <input [ngModel] class="govuk-input govuk-!-width-one-third" id="password" name="password" type="password">
  </div>

  <button type="submit" class="govuk-button">Sign in</button>

</form>

