<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          You are accepting new cases into your organisation. 
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Accept these cases without assigning them to anyone.
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Accept these cases and assign them to one or more users in your organisation. 
          </label>
        </div>
      </div>
    </fieldset>
  </div>