<a href="#" class="govuk-back-link">Back</a>
<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <span class="govuk-caption-xl">{{
    (selectedOrganisation$ | async)?.name
  }}</span>
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          You are accepting new cases into your organisation. 

          You do not need to assign cases to users if they have 'Access all cases in the organisation'
          enabled for that case type.

          if users do not have access to all cases in the organisation, you must assign this case to at
          least one user.
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Accept these cases without assigning them to anyone.
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Accept these cases and assign them to one or more users in your organisation. 
          </label>
        </div>
      </div>
    </fieldset>
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link" href="#">Cancel</a>
    </div>
  </div>
</main>
