<a href="#" class="govuk-back-link">Back</a>
<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <span class="govuk-caption-xl">{{
    (selectedOrganisation$ | async)?.name
  }}</span>
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <p class="govuk-fieldset__body">
          You are accepting new cases into your organisation.<br><br>

          You do not need to assign cases to users if they have 'Access all cases in the organisation'
          enabled for that case type.<br><br>

          if users do not have access to all cases in the organisation, you must assign this case to at
          least one user.
        </p>
      </legend>
        <xuilib-gov-radio
        id="accept-cases-without-assigning"
        [group]="permissionsForm"
        [config]="{
          label: 'Accept these cases without assigning them to anyone.',
          name: 'notAssigning',
          hint: 'Choose this option if you have given your users \'Access to all cases in the organisation\'',
          hiddenLabelContext: 'Choose this option if you have given your users Access to all cases in the organisation'
        }"
      >
      </xuilib-gov-radio>
      <xuilib-gov-radio
      id="accept-cases-with-assigning"
      [group]="permissionsForm"
      [config]="{
        label: 'Accept these cases and assign them to one or more users in your organisation.',
        name: 'assigning',
        hint: 'Choose this option if you have not given your users \'Access to all cases in the organisation\'',
        hiddenLabelContext: 'Choose this option if you have not given your users Access to all cases in the organisation'
      }"
    >
    </xuilib-gov-radio>
    </fieldset>
    <div class="govuk-button-group">
      <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <button type="cancel" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
    </div>
  </div>
</main>
