/* You can add global styles to this file, and also import other style files */


// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "";
$jui-assets-path : "";

$govuk-global-styles: true;
@import "./assets/sass/application";


div.govuk-prose-scope, p {
  white-space: pre-wrap;
}

td.govuk-table__cell {
  white-space: pre-wrap;
}

.detailed-cya-registration-message {
  color: #d4351c;
  font-weight: 700;
  margin-bottom: 10px;
}

div.govuk-header__logo, div.hmcts-header__logo {
  width: 23.33%;
}

.my_hmcts_application_name {
  max-width: 64%;
}

.stay-signed-in-button {
  margin-right: 15px;
}
