/* You can add global styles to this file, and also import other style files */


// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "";
$jui-assets-path : "";

$govuk-global-styles: true;
@import "./assets/sass/application";
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

$govuk-compatibility-govukfrontendtoolkit: true;
@import "../node_modules/govuk-frontend/govuk/all";



div.govuk-prose-scope, p {
  white-space: pre-wrap;
}

td.govuk-table__cell {
  white-space: pre-wrap;
}

td.govuk-table__cell a.govuk-link {
  float: right;
}

.detailed-cya-registration-message {
  color: #d4351c;
  font-weight: 700;
  margin-bottom: 10px;
}

div.govuk-header__logo, div.hmcts-header__logo {
  width: 23.33%;
}

.my_hmcts_application_name {
  max-width: 64%;
}

.stay-signed-in-button {
  margin-right: 15px;
}




.mat-tab-label {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;

  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  text-decoration: underline;

  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: inset 0 -1px 0 #bfc1c3;
  display: block;
  margin-top: -1px;
  filter: contrast(100%);
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  color: #005ea5;
}
.mat-tab-label-active {
  text-decoration: none;
  color: #0b0c0c;
  filter: contrast(100%);
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #005ea5;
  height: 5px;
} 
