<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
  <div class="govuk-grid-row xui-page-top-offset">
    <div class="govuk-grid-column-two-thirds">
      <button class="govuk-js-back-link" (click)="onBack()">Back</button>
      <xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
      <span class="govuk-caption-xl">Register an organisation</span>
      <h1 class="govuk-heading-xl">What is your organisation name and Companies House number?</h1>
      <hr>
        <p class="govuk-hint">If your organisation is registered with Companies House,
          add the organisation name and Companies House number as they appear in the
          <a class="govuk-link" href="https://www.gov.uk/get-information-about-a-company" target="_blank">company
          information register</a>.
        </p>
        <form [formGroup]="companyHouseFormGroup">
          <div class="govuk-form-group" #companyName [ngClass]="{'govuk-form-group--error': companyNameError}">
            <label class="govuk-label govuk-!-font-weight-bold" for="company-name">
              Enter the name of the organisation
            </label>
            @if (companyNameError) {
              <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{ companyNameError.message }}
              </p>
            }
            <input class="govuk-input" id="company-name" name="companyName" type="text" formControlName="companyName">
          </div>

          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': companyNumberError}">
            <label class="govuk-label govuk-!-font-weight-bold" for="company-house-number">
              Enter the 8-digit Companies House Number (optional)
            </label>
            <div id="company-house-number-hint" class="govuk-hint">
              This helps HMCTS to verify your organisation on our system
            </div>
            @if (companyNumberError) {
              <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ companyNumberError.message }}
              </p>
            }
            <input class="govuk-input" id="company-house-number" name="companyHouseNumber" type="text"
              formControlName="companyHouseNumber" aria-describedby="company-house-number-hint">
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" (click)="onContinue()">
              Continue
            </button>
            <button class="govuk-js-link" (click)="onCancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </main>
