<h1 class="hmcts-page-heading__title govuk-heading-xl">Fee accounts</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Account number</th>
          <th class="govuk-table__header" scope="col">Account name</th>
        </tr>
      </thead>
  
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" routerLink="summary/PBA0241163">PBA0241163</a></td>
          <td class="govuk-table__cell">Wedlake Bell	- Account A</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" routerLink="summary/PBA222333">PBA222333</a></td>
          <td class="govuk-table__cell">Wedlake Bell	- Account B</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
