<H1>form builder goes here</H1>
<!--<form *ngIf="pageitems" [formGroup]="formDraft" (ngSubmit)="onSubmit()">-->
  <!--<div [ngClass]="{'govuk-form-group':true, 'govuk-form-group&#45;&#45;error' : useValidation && formDraft.invalid }">-->
    <!--<h1 class="govuk-heading-xl">-->
      <!--<span *ngIf="pageitems.caption" [class]="pageitems.caption.classes">{{ pageitems.caption.text }}</span>-->
      <!--{{pageitems.header}}-->
    <!--</h1>-->
    <!--<div class="govuk-form-group" *ngFor="let group of pageitems.groups">-->
      <!--<app-fieldset *ngIf="group.fieldset"-->
                    <!--[classes]="'govuk-fieldset'"-->
                    <!--[group]="formDraft"-->
                    <!--[data]="group.fieldset"-->
                    <!--[validate]="useValidation">-->
      <!--</app-fieldset>-->
      <!--<app-jui-form-elements [group]="formDraft" [validate]="useValidation" [data]="group"></app-jui-form-elements>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
