<main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a class="govuk-back-link" href="javascript:void(0)" (click)="onBack()">Back</a>
        <span class="govuk-caption-xl">Register an organisation</span>
        <h1 class="govuk-heading-xl">
            What regulator are you (as in individual) registered with?
        </h1>
        <hr>
        <div class="govuk-body govuk-!-margin-top-6">
           <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <div class="govuk-hint">Give as much detail as you can on the regulator or professional body your organisation is registered with.</div>
              </legend>
          </fieldset>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <div class="govuk-hint">HMCTS needs to gather this information as it is required to gain access to some of our services.</div>
            </legend>
          </fieldset>
          <form [formGroup]="regulatoryOrganisationFormGroup">
            <div class="govuk-button-group">
              <button class="govuk-button govuk-button--primary" (click)="onContinue()">Continue</button>
            </div>
            <a class="govuk-link" href="javascript:void(0)" (click)="onCancel()">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </main>
