{
  "printWidth": 130,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [".prettierrc", "package,json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
