@use "govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #STATUS
   ========================================================================== */

.jui-status {
  @include govuk.govuk-font($size: false);
  font-size: 14px;
  line-height: 1.42857;
  border: 2px solid govuk.govuk-colour("blue");
  color: govuk.govuk-colour("blue");
  font-weight: bold;
  padding: 0 govuk.govuk-spacing(1);
  text-transform: uppercase;
  vertical-align: middle;
}


.jui-status--urgent {
  border-color: govuk.govuk-colour("red");
  color: govuk.govuk-colour("red");
}


.jui-status--new {
  border-color: govuk.govuk-colour("green");
  color: govuk.govuk-colour("green");
}
