/* ==========================================================================
   #STATUS
   ========================================================================== */

.jui-status {
  @include govuk-font($size: 14);
  border: 2px solid govuk-colour("blue");
  color: govuk-colour("blue");
  font-weight: bold;
  padding: 0 govuk-spacing(1);
  text-transform: uppercase;
  vertical-align: middle;
}


.jui-status--urgent {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}


.jui-status--new {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}